$brand-color-white: #FFF;
$brand-color-orange: #F89D1C;
$brand-color-red: #FF0000;

$brand-color-green: #9ACD00;


$brand-color-dark: #612C6C;
$brand-color-light: #7E418B;

$brand-color-black: #020202;
$brand-color-orange: #FF6633;
