@keyframes cqQuizDetailsOpen {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes cqQuizDetailsClose {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(40px);
    }
}

@keyframes cqQuizDetailsBackdropOpen {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes cqQuizDetailsBackdropClose {
    from {opacity: 1;}
    to {opacity: 0;}
}

.cq-quizdetails.closed {
    .cq-quizdetails__card {
        animation: cqQuizDetailsClose 200ms cubic-bezier(0,0,.47,1);
        animation-delay: 50ms;
        animation-fill-mode: both;
    }
}
.cq-quizdetails {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(#FFF, .6);
    z-index: 10;

    .cq-loader {
        top: 120px;
    }

    @at-root #{&}__card {
        animation: cqQuizDetailsOpen 200ms cubic-bezier(0,0,.47,1);
        animation-delay: 50ms;
        animation-fill-mode: both;
        min-height: 400px;
        position: relative;
        /* width: 100%; */
        max-width: 700px;

        background: #28ACE9;
        border-radius: 10px;
        box-shadow: 9px 10px 11px 0px rgba(180,180,180,0.50);
        margin: auto;
        margin-top: 80px;
        color: #FFF;

    }

    @at-root #{&}__cardinner {
        position: relative;
        max-width: 700px;
        min-height: 400px;
        padding: 20px;
        margin-right: 40px;
    }

    @at-root #{&}__close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 32px;
        cursor: pointer;
        &:focus,
        &:hover {
            opacity: .7;
        }
    }


    @at-root #{&}__info {
        @include media($size-tablet) {
            width: 45%;
            float: left;
        }
        h1, h2, h3, h4 {
            font-weight: bold;
        }
    }

    @at-root #{&}__questionscroller {
        overflow: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        padding: 0 20px;
        margin: 20px 0;
        padding-left: 10px;
        border-radius: 10px;
        @include media($size-tablet) {
            width: 55%;
            float: left;
        }
    }
    @at-root #{&}__questions {
        ul {
            list-style: none;
            padding: 0;
            margin-top: 40px;

        }
        li {
            background: #FFF;
            color: #104C99;
            font-weight: bold;
            text-align: left;
            padding: 10px;
            margin-bottom: 2px;
            border-radius: 5px;
        }
    }

    @at-root #{&}__button {
        @include button-filled(#F3CC3C);
    }


}
