extends ./layout

block body
    h1 Approved Quizzes
    
    for quiz in approved
        .row
            .col-xs-4
                p #{quiz.meta.name}
            .col-xs-4
                p #{quiz.meta.categoryId}
            .col-xs-4
                p #{quiz.meta.publicCategoryId}
