extends ./layout

block body
    h1 Approvied 2
    
    for quiz in approved1
        .row
            .col-xs-4
                p #{quiz.meta.name}
            .col-xs-4
                p #{quiz.meta.categoryId}
            .col-xs-4
                p #{quiz.meta.publicCategoryId}
