extends ./layout
block body
    .container-fluid
        .row
            .col-md-6.col-md-offset-3
                H1 Admin

                p
                    a(href="/admin/approved") Approved Quizzes
                p
                    a(href="/admin/pending") Pending Quizzes
                p
                    a(href="/admin/stats") Stats
                p 
                    a(hred="/admin/metrics") Metrics Matrix
