doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='')
        meta(charset='UTF-8')
        script(src='/lib/jquery-1.11.0.js')
        script(src='/lib/bootstrap.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js", charset="utf-8")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js")
        script(src="/js/vendor.js")
        
        link(href='/css/cq-light-bootstrap.min.css', rel='stylesheet')
        link(href='/css/admin.css', rel="stylesheet")
            
        block header
    body
        block body
            
