doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='')
        meta(charset='UTF-8')
        script(src='/lib/jquery-1.11.0.js')
        script(src='/lib/bootstrap.js')
        link(href='/css/cq-light-bootstrap.min.css', rel='stylesheet')
        block header
    body
        block body
            
