extends ./layout

block body
    script.
        var metricsString = "#{JSON.stringify(metrics)}";
        metricsString = metricsString.replace(/&quot;/g, '"');
        var metrics = JSON.parse(metricsString);
        var fillTable = function(){
            var date = $('#monday').val();
            var metric = {};
            metrics.forEach(function(m){
                if (m._id === date){
                    metric = m;
                    }
            });
            for (var field in metric){
                var fieldId = "#" + field;
                $(fieldId).val(metric[field]);
                };
        };
        $(function() {
            function prettyDate(dateString){
                //if it's already a date object and not a string you don't need this line:
                if (dateString=="" || dateString=="0") return "";
                var date = new Date(dateString);
                var d = date.getDate();
                var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun","Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
                var m = monthNames[date.getMonth()];
                var y = date.getFullYear();
                var result = d+' '+m+' '+y;
                if(result=="1 Jan 1970") return "";
                return result;
            };
            var dateArray = [];
            var monday = new Date(Date.UTC(2015, 8, 28, 0, 0 ,0));
            console.log(monday);
            var week = 7 * 24 * 60 * 60 * 1000;
            console.log(monday-week);
            for (var i = 0; i<10; i++){
                    dateArray[i] = monday - i * week;
                };
            console.log(dateArray);
            dateArray.forEach(function(date){
                $('#monday').append($("<option />").val(date).text(prettyDate(date)));
            });
            
        });
        
    form(method="POST",action="/admin/submitmetrics")
        div
            label Current Monday Date
                select(name="_id", onchange="fillTable()")#monday
                    option 
        div Communication
            ul
                li
                    label Intercom
                        input(name="intercom", id="intercom")
                li
                    label Email 
                        input(name="email", id="email")
                li
                    label Social 
                        input(name="social", id="social")
                li
                    label Real Life
                        input(name="realLife", id="realLife")
                li
                    label Countries
                        input(name="countries", id="countries")
        div Convert
            ul
                li
                    label Visitors
                        input(name="visitors", id="visitors")
        div Share
            ul
                li
                    label Followers
                        input(name="followers", id="followers")
                li 
                    label Sharers
                        input(name="sharers", id="sharers")
                li 
                    label Reach 
                        input(name="reach", id="reach")
                li 
                    label Reviews
                        input(name="reviews", id="reviews")
        div
            input(type="submit")
                    
                        
                    
                
            
                
            
        
