.cq-quizzes {

    @at-root #{&}__buttonbar {
        margin: 10px 0;
    }

    .cq-quizzes__edit {
        display: none;
        /* display: inline-block; */
        padding: 0 10px;
        color: $brand-color-grey-light;
    }
    .cq-viewquizlist__quiz {
        &:hover {
            .cq-quizzes__edit { display: inline-block; }
        }
    }

    .cq-quizzes__extras {
        &:hover {
            .cq-quizzes__edit { display: none !important; }
        }
    }

    .cq-quizzes__empty {
        font-size: 18px;
        margin-top: 20px;
        vertical-align: top;
        @include clearfix();
        .quizalize-icon {
            width: 100px;
            height: 100px;
            background: $brand-color-red;
            border-radius: 100%;
            color: #FFF;
            font-size: 80px;
            text-align: center;
            display: inline-block;
            float: left;
            margin-right: 20px;
            .zz-ic_quizalize {
                line-height: 100px;
            }
        }
        .extra {
            float: left;
            display: inline-block;
        }

        .intro {
            margin-bottom: 20px;
        }
    }

    .cq-quizzes__emptylist {
        background: $brand-color-grey-lighter;
        text-align: center;
        font-size: 18px;
        padding: 40px 20px;

        p {
            margin: 10px 0;
        }
    }

    @mixin button($color) {
        background: none repeat scroll 0 0 transparent;
        background: rgba($color, 0);
        border: 1px solid $brand-color-grey-light;
        min-width: 50px;
        height: 30px;
        color: $brand-color-grey;
        border-radius: 5px;
        border-spacing: 0;

        text-align: center;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.42rem;
        list-style: none outside none;
        margin: 0 5px;
        padding: 5px 10px;

        text-decoration: none;
        text-indent: 0;
        outline: none;

        &:hover,
        &:focus {
            background: darken($color, 0%);
            border-color: $color;
            color: #FFF;
        }
    }
    @at-root #{&}__button--delete {
        @include button($brand-color-red);

    }

    @at-root #{&}__button--assign {
        @include button($brand-color-blue);

    }

    @at-root #{&}__button--edit {
        @include button($brand-color-blue);
    }


}
