@import './../../../../quizApp/components/shared/variables';
@import './../../../../quizApp/components/shared/mixins';
.cq-edit {
    .create-question {
        position: relative;
    }
    .quiz-extras {
        float: right;
        font-size: 12px;
        position: absolute;
        top: 20px;
        left: 20px;

        .math-mode,
        .image-mode {
            margin-bottom: 20px;
        }
    }
    .new-question-cta {
        text-align: center;
        a { color: #FFF; }
    }
    .new-question {
        i {
            color: #999;
        }
    }
    .cq-edit__quiz {
        position: relative;
    }
}
.ql-question-list {
    .no-questions {
        text-align: center;
        h1, h2, h3 {
            color: #999;
            margin: 20px auto;
        }
    }
    .selected {
        background: #FFF;
        border-radius: 5px;
        .icons { display: none; }
    }
    .icons {
        text-align: right;
    }

    .intro {
        text-align: left;
    }




    .left {
        padding: 10px;
        width: 25%;
        float: left;
        text-align: right;
    }

    .right {
        padding: 10px;
        width: 75%;
        float: left;
    }
    .field {
        width: 33.33333333%;
        position: relative;
        min-height: 1px;
        padding: 10px ;

        float: left;
    }

    label {
        line-height: 45px;
    }


    .entry-input {
        width: 100%;
        position: relative;
        min-height: 1px;

        float: left;
    }
    .entry-input-full-width {
        width: 100%;
        position: relative;
        min-height: 1px;

        float: left;

    }
    /* .entry-input,
    .incorrect-answers,
    .entry-input-full-width {
        transition: width 300ms ease-in-out;
    }
     */
    .latex-field {
        padding: 12px;
        float: left;
        width: 50%;

        display: none;
    }
    .no-left-margin {
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
    .save {
        margin-bottom: 40px;
        .btn {
            width: auto;
            margin: auto;
        }
    }


    .latex-enabled {
        .field {
            width: 100%;
            padding-bottom: 10px;
            @include clearfix;
        }
        .latex-field {
            display: block;
        }
        .entry-input {
            width: 50%;
        }
        .incorrect-answers {
            width: 50%;
            float: left;
        }
    }

}
