.cq-viewquizlist {

    $quizIcon: 45px;
    display: flex;
    flex-direction: row wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 0;

    ul {
        @include clearfix();
        list-style: none;
        margin: 0;
        padding: 0;
    }

    small {
        color: $brand-color-grey-light;
    }

    &__quiz-cta {
        text-align: center;
        margin: 0;
        padding: 0;
        h2 {
            line-height: 89px;
            margin: 0;
            padding: 0;
        }

    }
    &__quiz {
        display: flex;
        flex-grow: 2;
        align-items: center;
        text-align: left;
        border-bottom: 1px solid $brand-color-grey-lighter;
        padding: 2px;
        width: 100%;
        background: rgba(#FFF, .8);
        border-radius: 5px;
        // margin: 2px;

        @include clearfix();
        &.interactive {
            cursor: pointer;
            &:hover {
                background: rgba($brand-color-grey-lighter, .4);
            }
        }

        &:hover {
            /* background: lighten($brand-color-grey-lighter, 10%); */
        }

    }

    &__quizicon {
        min-width: $quizIcon;
        width: $quizIcon;
        height: $quizIcon;
        border-radius: 100%;
        margin: 5px;


        font-size: $quizIcon - 10px;
        text-align: center;
        line-height: $quizIcon;
        color: #FFF;
        background-size: cover;
        background-position: center center;

        img { width: 100%; }

    }
    &__quiz-inner {

        flex: 1;
        width: 100%;
    }

    &__extras {

        // position: absolute;
        // right: 12px;
        // top: 12px;
    }

    &__checkbox {
        display: block;
        float: left;
        margin-top: 20px;
    }


    &__quizname {
        font-weight: bold;
        display: inline;
        font-size: 18px;
    }

    &__quizauthor {
        display: inline;
    }

    &__quizdate {
        font-weight: 100;
        color: $brand-color-grey;
    }



    &__quizcategory {
        display: inline-block;
        font-weight: 100;
        color: $brand-color-grey;
        font-size: 10px;
        line-height: 10px;
        border: 1px solid $brand-color-grey;
        padding: 5px;
        border-radius: 10px;
        margin: 2px;
    }



    &__pagination {
        text-align: center;
        margin: 20px;
    }
}
