@import './../../../../shared/scss/variables';
@import './../../../../shared/scss/mixins';


.cq-viewquizlist {
    $quizIcon: 40px;
    list-style: none;
    margin: 0;
    padding: 0;

    small {
        color: $brand-color-grey-light;
    }

    @at-root #{&}__quiz {
        text-align: left;
        border-bottom: 1px solid $brand-color-grey-lighter;
        padding: 5px;
        cursor: pointer;
        width: 100%;

        &:hover {
            background: lighten($brand-color-grey-lighter, 10%);
        }
        @include clearfix();
    }

    @at-root #{&}__quiz-inner {
        text-align: left;
        float: left;
    }

    @at-root #{&}__checkbox {
        display: block;
        float: left;
        margin-top: 20px;
    }

    @at-root #{&}__quizicon {
        width: $quizIcon;
        height: $quizIcon;
        border-radius: 100%;
        margin: 5px;
        display: inline-block;
        float: left;
        font-size: $quizIcon - 10px;
        text-align: center;
        line-height: $quizIcon;
        color: #FFF;
        background-size: cover;
        background-position: center center;
        img { width: 100%; }

    }

    @at-root #{&}__quizname {
        font-weight: bold;
        display: inline;
        font-size: 18px;
    }

    @at-root #{&}__quizauthor {
        display: inline;
    }

    @at-root #{&}__quizdate {
        font-weight: 100;
        color: $brand-color-grey;
    }

    @at-root #{&}__quizextra {
        /* text-align: center; */
        /* margin: 12px 0; */
        /* float: left; */
    }

    @at-root #{&}__quizcategory {
        display: inline-block;
        font-weight: 100;
        color: $brand-color-grey;
        font-size: 10px;
        line-height: 10px;
        border: 1px solid $brand-color-grey;
        padding: 5px;
        border-radius: 10px;
        margin: 2px;
    }

    @at-root #{&}__extras {
        float: right;
    }
}
