.cq-header {
    .btn {
        margin-top:9px;
        padding: 8px;
    }
    li {
        margin-right: 5px;
    }
    .cq-brand {
        height:44px;
        margin-top:9px; 
        padding-left:5px;
    }
}
