@import './../../../../shared/scss/variables';
@import './../../../../shared/scss/mixins';

.cq-settings {
    max-width: 600px;
    min-width: 300px;

    &__header {
        @include cq-header();
    }
    &__save {
        text-align: center;
    }

    &__profile {
        padding: 20px;
    }

}
