@import './../shared/mixins';
@import './../shared/score';

@keyframes qlShake {
    0%      { transform: rotate(0); }
    15%      { transform: rotate(10deg); }
    30%      { transform: rotate(-15deg); }
    45%      { transform: rotate(20deg); }
    60%      { transform: rotate(-20deg); }
    75%      { transform: rotate(25deg); }
    90%      { transform: rotate(30deg); }
    100%     { transform: rotate(0); }

}
@keyframes qlNextHover {

    0% {
        background: #2e60ff;
        transform: rotate(0);
    }
    30% { transform: rotate(20deg);}
    60% { transform: rotate(-20deg);}
    100% {
        background: lighten(#2e60ff, 10);
        transform: rotate(0);
    }
}

@keyframes qlStarAnimated {
    0% {
        opacity: 0;
    }
    50% {opacity: 1;}
    100% {
        opacity: 0;
        transform: translate(150px, 150px);
    }
}

.ql-answer-screen {
    /* position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; */
    text-align: center;

    .answer-wrapper {
        width: 100%;
        /* margin: 20px; */
        display: inline-block;
        text-align: center;
        padding: 5px;

        @include media($size-mobile) {
            width: 50%;
        }

    }
    .text-1 {
        animation: qlEnterTranslateY 300ms ease-out;
        animation-fill-mode: both;
        animation-delay: 100ms;
    }
    .text-2 {
        animation: qlEnterTranslateY 300ms ease-out;
        animation-fill-mode: both;
        animation-delay: 1000ms;
    }
    .answer {
        width: 100%;
        background: #2e60ff;
        display: block;
        font-size: 4.5vw;
        color: #FFF;

        animation: qlEnterScale 400ms ease-out;
        animation-fill-mode: both;
        animation-delay: 500ms;
        cursor: default;

         @include media($size-mobile) {
            font-size:2.5vw;
        }
        @include media($size-widescreen) {
            font-size:2vw;
        }

    }

    .answer-wrong {
        background: #ff003f;
    }

    .star-container {
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        position: absolute;
        pointer-events: none;
    }
    .star-animated {
        z-index: 5;
        animation: qlStarAnimated 1000ms ease-out;
        animation-fill-mode: both;
    }
    .star-transform {
        width: 0;
        height: 0;
    }

    .score-and-time {
        @include clearfix();
        padding: 20px 0;
        text-align: center;
    }
    .next,
    .time,
    .score {
        $size-big: 150px;
        $size-small: 80px;

        animation: qlEnterTranslateY 400ms ease-out;
        animation-fill-mode: both;
        height: $size-small;
        width: $size-small;
        padding-top: 20px;
        margin: 10px;
        background: #ff003f;
        border-radius: 100%;
        color: #FFF;
        display: inline-block;
        font-size:  13px;
        overflow: hidden;

        @include media($size-mobile) {
            font-size:38px;
        }

        strong {
            font-size: 20px;
        }
        img {
            
            max-width:40px;
            max-height:25px;
            width:100%;
        }


        @include media($size-mobile) {
            padding-top: $size-big / 4;
            width: $size-big;
            height: $size-big;
            font-size: 26px;
            img {
                max-width: 80px;
                max-height: 50px;
                width: 100%;
            }
            strong {
                font-size: 48px;
            }
        }
    }
    .score {
        /* text-align: left; */
        animation-delay: 2000ms;
    }
    .time {
        /* text-align: right; */
        animation-delay: 2200ms;
    }
    .next-anim {
        animation: qlEnterTranslateY 400ms ease-out;
        animation-fill-mode: both;
        animation-delay: 2400ms;
    }
    .next {
        /* text-align: right; */
        animation: none;

        background: #2e60ff;
        cursor: pointer;

        &:hover {
            animation: qlNextHover 400ms ease-out;
            background: lighten(#2e60ff, 10);
        }
    }
}
