.q-home__kahoot
    .q-home__kahoot__like
        h3 If you like Quizlet...
        span 7 reasons why you'll love Quizalize even more
    .q-home__kahoot__reasons
        .q-home__kahoot__reasons__one
            img(src="/img/kahoot/reason1-studentpaced@2x.png", height="100", alt="")
            h3 Free teacher dashboards
            p  See your class report for the most recent activity completely free 
        .q-home__kahoot__reasons__two
            img(src="/img/kahoot/reason2-differentiated@2x.png", height="95", alt="")
            h3 Differentiated teaching
            p Assign different students different quizzes appropriate for their level
        .q-home__kahoot__reasons__three
            img(src="/img/kahoot/reason3-teamgameview@2x.png", height="86", alt="")

            h3 Team game view
            p Use Quizalize as a whole in class quiz game. Engage and motivate your students!
    .q-home__kahoot__reasons
        .q-home__kahoot__reasons__four
            img(src="/img/kahoot/reason4-homework@2x.png", height="78", alt="")
            h3 More than flashcards 
            p Easily create multiple choice questions and other types
        .q-home__kahoot__reasons__five
            img(src="/img/kahoot/reason5-insight@2x.png", height="80", alt="")
    
            h3 Rich insight
            p Get detailed reports on each student's strength and weaknesses
        .q-home__kahoot__reasons__six
            img(src="/img/kahoot/reason6-progress@2x.png", height="88", alt="")
    
            h3 Progress Tracking
            p Record student results over time and demonstrate progress
        .q-home__kahoot__reasons__seven
            img(src="/img/kahoot/reason7-personalstudentreports@2x.png", height="78", alt="")
            h3 Personal student reports
            p Give each student the individual feedback they need to improve

    .q-home__kahoot__praise
        .q-home__kahoot__praise__teachers

            h3 Teachers say...        
            p Quizalize is wonderful and students and myself 
                span love it. It is very engaging.

            p I really appreciate 
                span how simple it was to use 
                | and create a quizalize. My students loved it 
            p I'm a fan of Kahoot, but your program seems to offer so much 
                span  more information for the teacher!
            p I love the feature that 
                span every students gets a summary 
                | at the end of the answers they gave (including the right answer)
            p Thanks so much for your time. Your team has created a great thing.
        .q-home__kahoot__praise__edsurge
            img(src="/img/kahoot/edsurge-circle@2x.png", height="218", alt="")

            
        
