.cq-public {

    $quizIcon: 40px;

    &__headercta {
        position: relative;
        a { cursor: pointer; color: #FF6B00; }
        &__background {
            position: absolute;
            right: 20px;
            top: 20px;
            width: 215px;
            z-index: 2;
            // height: 279px;
        }
        h5 {
            /* Quick start: */

            font-size: 14.97px;
            color: #5CB3C5;
            line-height: 18px;
        }
        &__box {
            background: #D3EAE0;
            position: relative;

            margin: 0 -10px;
            padding: 10px;
            button {
                /* Rectangle 4: */
                @include button-filled(#FF6B00);
                // background: #FF6B00;
                width: 270px;
                height: 70px;
                box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
                border-radius: 9px;
                margin-top: -20px;
            }

            ul {
                position: relative;
                z-index: 3;
                list-style: none;
                margin: 0;
                padding: 0;
                @include clearfix();
                li {
                    display: block;
                    float: left;
                    width: 180px;

                    /* Write questions: */
                    // font-family: Lato-Bold;
                    font-size: 28.97px;
                    color: #565656;
                    line-height: 26px;
                    position: relative;
                    padding-right: 30px;
                    margin-left: 30px;
                    &:after {
                        content: url(./../../assets/caret.svg);
                        position: absolute;
                        right: 0;
                        top: 20px;
                    }
                    &:first-child {
                        font-weight: bold;
                        color: #FF6B00;
                        margin-left: 0;
                    }
                    &:last-child {
                        width: 400px;
                        &:after {
                            content: none;
                        }
                    }
                }
            }
        }

        &__info {
            min-height: 40px;
        }
    }

    .cq-viewquizlist__quiz {
        width: 50%;

    }

    &__header {
        @include cq-header;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
    }




    &__quiz {
        text-align: left;
        border-bottom: 1px solid $brand-color-grey-lighter;
        margin: 5px;
        padding: 5px;
        @include clearfix();
    }

    &__quiz-inner {
        text-align: left;
        float: left;
    }

    &__quizicon {
        width: $quizIcon;
        height: $quizIcon;
        border-radius: 100%;
        margin: 5px;
        display: inline-block;
        float: left;
        font-size: $quizIcon - 10px;
        text-align: center;
        line-height: $quizIcon;
        color: #FFF;
        background-size: cover;
        background-position: center center;
        img { width: 100%; }

    }
    &__quizname {
        font-weight: bold;
        display: inline;
        font-size: 18px;
    }

    &__quizauthor {
        display: inline;
    }

    &__quizdate {
        font-weight: 100;
        color: $brand-color-grey;
    }

    &__quizextra {
        text-align: center;
        margin: 12px 0;
        float: right;
    }

    &__quizcategory {
        display: inline-block;
        font-weight: 100;
        color: $brand-color-grey;
        font-size: 10px;
        line-height: 10px;
        border: 1px solid $brand-color-grey;
        padding: 5px;
        border-radius: 10px;
        margin: 2px;
    }

    &__sort {
        float: left;
        width: 300px;
        min-height: 400px;
        background: $brand-color-grey-lighter;
    }


    &__list {
        width: 100%;
    }

    &__button {
        @include button($brand-color-blue);
        // background: $brand-color-grey-light;
        // color: $brand-color-grey-dark;
        margin: 5px;
        padding: 5px;
        cursor: pointer;

        &:hover {
            // background: $brand-color-grey;
            // color: $brand-color-grey-lighter;
        }
    }
}
