.section.color-light.marginbot-50.bg-gray2
	.container
		.row
			.col-md-3.bg-gray-2
				ul.about
					li
						a(href='/faq') FAQ
					li
						a(href='/terms') Terms of Service
					li
						a(href='/privacy-policy') Privacy Policy
					li
						a(href='/COPPA-policy')	COPPA Policy
			.col-md-4.col-md-offset-5
				.social
					h6 Follow us
					ul
						li
							a(href='http://www.facebook.com/quizalize')
								i.fa.fa-lg.fa-facebook
						li
							a(href='http://twitter.com/quizalizeapp')
								i.fa.fa-lg.fa-twitter
						li
							a(href='http://blog.zzish.com/')
								i.fa.fa-lg.fa-tumblr
						li
							a(href='http://www.youtube.com/channel/UCsN-UvRQ-hYUAndrQePJkMA')
								i.fa.fa-lg.fa-youtube
