doctype html
html(ng-app='createQuizApp')
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='')
        meta(charset='UTF-8')
        meta(property='og:title', content='Spot student learning gaps instantly')
        meta(property='og:site_name', content='Quizalize')
        meta(property='og:url', content='http://www.quizalize.com')
        meta(property='og:description', content='Quizalize lets you engage your class and deliver instant assessments for personalised learning on any computer, tablet or smartphone. It helps you quickly identify the strengths, weaknesses and learning gaps of individual students and intervene in real-time to give one-on-one help in the classroom.')
        meta(property='og:type', content='website')
        meta(property='og:image', content='http://www.quizalize.com/cquiz/img/quizalize-meta.png')
        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:site', content='@quizalizeapp')
        meta(name='twitter:creator', content='@quizalizeapp')
        title('Quizalize')
        script(src='/lib/jquery-1.11.0.js')
        script(src='/lib/bootstrap.js')
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-2402555-23', 'auto');
            ga('send', 'pageview');
        script(src='/cquiz/js/quizalize-homepage.js')
            
        link(href='/cquiz/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        link(rel='stylesheet', href='/outdatedbrowser/outdatedbrowser.min.css')
        link(href='/cquiz/css/bootstrap.min.css', rel='stylesheet', type='text/css')
        link(href='/cquiz/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
        link(href='/cquiz/css/nivo-lightbox.css', rel='stylesheet')
        link(href='/cquiz/css/nivo-lightbox-theme/default/default.css', rel='stylesheet', type='text/css')
        link(href='/cquiz/css/owl.carousel.css', rel='stylesheet', media='screen')
        link(href='/cquiz/css/owl.theme.css', rel='stylesheet', media='screen')
        link(href='/cquiz/css/flexslider.css', rel='stylesheet')
        link(href='/cquiz/css/animate.css', rel='stylesheet')
        link(href='/cquiz/css/style.css', rel='stylesheet')
        link(href='/cquiz/color/default.css', rel='stylesheet')
        block header
body
    block body
