extends baseLayout2

block body
	.section.color-dark
		.container.packages
			.col-md-12
				h1.cat-title.text-center Zzish Ltd COPPA Privacy Policy
			.row
				.col-md-8.col-md-offset-2.policy
					:markdown
						# COPPA Policy

						PLEASE NOTE THAT THE SITE, APP, AND SERVICES ARE IN BETA RELEASE AND, THUS, THEIR FEATURES ARE SUBJECT TO CHANGE. WE MAY REVISE AND CHANGE THIS COPPA PRIVACY POLICY AND THE WAYS IN WHICH WE COLLECT, USE, AND DISCLOSE PERSONAL INFORMATION AS WE AMEND THE SITE, APP, AND SERVICE. PLEASE CHECK BACK HERE FREQUENTLY TO VIEW THE LATEST VERSION OF THIS COPPA PRIVACY POLICY.

						Zzish Ltd. ("Zzish") values the privacy of children and of all of its users. This COPPA Privacy Policy ("COPPA Policy") is designed to comply with the Children's Online Privacy Protection Act ("COPPA") and contains important information about how we collect, use, and disclose the personal information we collect from children under thirteen years old who use our websites, http://www.zzish.com and http://www.quizalize.com (the "Site"), our mobile application (the "App"), and the services available through our Site and App (collectively, the "Services"). For the purposes of this Policy, "child" or "children" means a child or children under 13 years old.

						At Zzish, we offer an online social learning system for students of all ages, which is intended to be used by teachers and educators as a classroom tool. Through our Services, teachers can assign quizzes and other response activities to students and track their progress. In order to permit teachers to monitor use of our Services by students, we may collect information such as student names. However, we only collect personal information, such as names, from students on behalf of and at the direction of the child’s teacher.

						When a teacher uses our Services in the classroom or an educational setting, to sign students up for Zzish, or to assign response activities to students and track their progress, we are not required to obtain parental consent, under COPPA. In such cases, the teachers are required to provide consent to the collection and use of personal information from children and are required to affirm to us that they have the authority to do so. Teachers and schools are also responsible for providing parents with notice about how personal information from their children is collected and used.

						Children's personal information will be handled as described in this COPPA Policy. Any personal information we collect about other users (e.g., students over 13 and teachers) will be treated in accordance with the Zzish Privacy Policy ("Privacy Policy") (http://www.Zzish.com/privacy-policy). The use of our Site, App, and Services, and any dispute over privacy, is subject to this COPPA Policy, the Privacy Policy, and our Terms of Service (http://www.zzish.com/terms), including its applicable limitations on damages and the resolution of disputes. The Zzish Terms of Service and Privacy Policy are incorporated by reference into this COPPA Policy.

						### Who Will Collect Information About Children?

						Zzish operates the Site, App, and Services and will collect children’s personal information as described in this COPPA Policy and our Privacy Policy. We can be contacted at:

						156 Blackfriars Road
						London
						SE1 8EN
						support@Zzish.com

						As noted, Zzish is a classroom tool and resource that teachers can use as part of their classroom activities to administer quizzes, tests and other activities to students. In doing so, teachers may collect personal information from their students, including those who are under 13.

						### What Information Do We Collect About Children and Why?

						Through our Services, teachers can create quizzes, questionnaires, and other exercises. In doing so, teachers may ask their students to submit certain information such as the student's name or contact information. Zzish does not make the decision to collect such information from children, and we do not require children to submit name, contact information, or other personal information to us to register for our Site, App or Services. However, when a student submits information as requested by his or her teacher, that information is then disclosed to the teacher. Teachers are responsible for ensuring that their collection and use of personal information from children complies with applicable laws, including COPPA and Family Educational Rights and Privacy Act (FERPA). If you are a parent and you have questions about your child's teacher's use of our Services and any information collected, you should discuss your questions with your child's teacher or school.

						*** How Information is Collected.*** We may collect information about children directly from children and their teachers, as well as automatically through a child's use of our Site, App, or Services. We will not require a child to disclose more information than is reasonably necessary to use our Services. Further, as noted, we will not collect a child’s name, contact information, or other personal information directly unless a teacher requests it. We do provide teachers with a copy of a notice of our privacy practices.

						*** Information We Collect Directly.*** Students and children are required to submit registration information to use the Site, App, or Service where directed by the child's teacher. Parents can tell us to stop collecting personal information from their child; however, in such cases the child will not be able to use our Services, as they are intended to be controlled by a teacher. If you direct us to stop collecting and using your child's personal information, we must disable his or her use of our Services to ensure that no information is collected via the teacher's use of Zzish as a classroom tool.

						*** Information We Collect Automatically.*** We may automatically collect the following information about a child’s use of our Site, App, or Services through cookies and other technologies: domain name; browser type and operating system; web pages viewed; links clicked; the length of time spent on our Site or App; the length of time our Services are used; Google Analytics statistics; the referring URL, or the webpage that led the child to our Site; language information; device name and model; operating system type, name, and version; and activities within our Site and App. We may also collect IP address, device identifier or a similar unique identifier from users of our App and Site, including children; we only use such identifiers to support the internal operations of our Site and App and we do not use such identifiers to collect information about the child outside of our Site or App.

						*** Other Information We Collect About Children.*** We collect information about children's performance and activities on our Site, App, and Services, including the quizzes taken, questions answered, and the time it took for a child to complete his or her tasks. This information is made available to teachers in personally identifiable form; however, we do not use this information in personally identifiable form for our own commercial purposes. Before we analyze or use any activity data for our own commercial purposes, we de-identify and/or aggregate such information.

						### How We Use Children's Information

						Information Requested by Teachers. When a teacher users our App or Site to collect name, contact information, or other personal information from children as part of a classroom exercise, we use that personal information for the following purposes:

						* To provide our Services;
						* To respond to customer service and technical support issues and requests; and
						* To provide students and teachers with information and reports about students' performance and use of the Site, App, and Services.

						We do not use or disclose this personal information for our own commercial purposes.

						_Unique Identifiers._ Our Site, App, and Services will collect personal information from student users when a teacher requests a student uses our Site, App, and Services.  We only collect and use unique identifiers as necessary to operate our Site, App, and Services, including to maintain or analyze their functioning; perform network communications; authenticate users or personalize content; and protect the security or integrity of users and our Site, App, and Services. We never use unique identifiers to track users across third party apps or websites.

						_Aggregate or De-identified Information._ We may use aggregate or de-identified information about children for research, analysis, and similar purposes. When we do so, we strip out names, email, contact information, and other personal identifiers. We may use aggregate or de-identified information for the following purposes:

						* To better understand how users access and use our Site, App, and Services;
						* To improve our Site, App, and Services and respond to user desires and preferences; and
						* For other research and analytical purposes.

						### How We Share Children's Information

						We do not sell children's personal information, and a child may not make his or her personal information public through our services (though teachers may choose to share student information and responses with the students’ classmates and parents). In general, we may disclose the personal information that we collect about children to provide our Services, to comply with the law, and to protect Zzish and other users of our Services. For example, we may share children's personal information as follows:

						*** Service Providers.*** We may disclose the information we collect from children to third-party vendors, service providers, contractors, or agents who perform functions on our behalf. These third parties are subject to confidentiality and security obligations.

						*** Business Transfers.*** If we are acquired by or merged with another company, if substantially all of our assets are transferred to another company, or as part of a bankruptcy proceeding, we may transfer the personal information we have collected from to the other company.

						*** In Response to Legal Process.*** We also may disclose the personal information we collect in order to comply with the law, a judicial proceeding, court order, subpoena, or other legal process.

						*** To Protect Us and Others.*** We also may disclose the personal information we collect where we believe it is necessary to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the safety of any person, violations of our Terms of Service, Privacy Policy, or this COPPA Policy, or as evidence in litigation in which Zzish is involved.

						*** With Parents.*** Parents may request information about the information we have collected from their child by contacting us at support@Zzish.com.  Parents may also be able to log into Zzish with a connected parent account to see the information we have collected from their child.  As part of this, parents can see information about a student’s use of the Services, including their performance on certain tasks, assignments, and other activities.

						*** Teachers.*** Teachers are able to provide students with quizzes and other educational exercises, as well as receive grades for those assignments, through the Site, App, or Services. As part of this, teachers can see information about a student’s use of the Services, including their performance on certain tasks, assignments, and other activities.

						*** Aggregate and De-Identified Information.*** We may also use and share aggregate or de-identified information about users with third parties for marketing, advertising, research, or similar purposes.

						### Your Rights to Review, Delete, and Control Our Use of Children's Personal Information

						Parents and teachers have a right to review the information we have collected about their children and students, respectively, and to delete it, and to tell us to stop using it. To exercise these rights, you may contact us at support@Zzish.com. You will be required to authenticate yourself as the child's parent or teacher to receive information about that child. Please note that we cannot delete copies of information that a child's teacher has already collected and/or copied.

						### Changes to This COPPA Policy

						This COPPA Policy is current as of the Effective Date set forth below. We may change this COPPA Policy from time to time, so please be sure to check back periodically. We will post any changes to this COPPA Policy on our Site, at http://www.zzish.com/COPPA-policy. If we make any changes to this COPPA Policy that materially affect our practices with regard to the personal information we have previously collected from a child, we will endeavor to provide you with notice in advance of such change by highlighting the change on our Site.

						Effective Date: June 1, 2015
		include ./home/footer.jade
