extends baseLayout2

block body
	include navbar
	section.color-dark
		.container.packages
			row.text-center
				h2.cat-title Frequently Asked Questions
	section.color-dark.bg-gray2
		.container.packages
			.col-md-10.col-md-offset-1
				ul.faq-question-list
					li
						strong
							a(href="#whatisquizalize") What is Quizalize?
						ul
							li
								a(href="#quizalizefree") Is Quizalize free?
							li
								a(href="#quizalizesignup") How do I sign up to Quizalize?
					li
						strong
							a(href="#usingquizalize") Using Quizalize
						ul
							li
								a(href="#createaquiz") How do I create a quiz?
							li
								a(href="#savequiz") How do I save a quiz?
							li
								a(href="#findquiz") Where can I find the quizzes I’ve made?
							li
								a(href="#accessquiz") How can my students access my quizzes?
							li
								a(href="#assignquiz") How do I assign quizzes to students or classes?
							li
								a(href="#findassignquiz") Where can I find the quizzes I’ve assigned to my students?
							li
								a(href="#resultsquiz") Where can I find my students' results?
							li
								a(href="#classcode") What is a class code?
							li
								a(href="#quickplay") What is the difference between “Quick Play” and “Log in with Zzish”?
							li
								a(href="#zzishhub") What is the Zzish Learning Hub?
					li
						strong
							a(href="#servicepackage") For Schools
						ul
							li
								a(href="#servpack") Which packages and services does Quizalize offer to schools?



	section.color-dark
		.container.packages
			.col-md-10.col-md-offset-1
				h4#whatisquizalize.text-center
					strong What is Quizalize?
			.col-md-8.col-md-offset-2.faq-list
				p 
					|Quizalize is a new diagnostic assessment website by Zzish that provides 
					|children with a fun and engaging way to learn. Quizalize goes one-step further 
					|than just being your average quiz website, it provides teachers with in-depth data to 
					|analyze their children’s strengths, weaknesses and learning gaps instantly. 
					|It not only caters for the main subjects such as Maths and Science but it is versatile 
					|and can be used across all subjects.
				ul
					li
						p#quizalizefree
							strong Is Quizalize free?
						p 
							|Quizalize is free for individual teachers. If you’re enquiring about 
							|using Quizalize at school please refer to our Schools section 
							a(href="/packages#our-packages") here 
							| or 
							a(href="mailto:team@zzish.com?subject=I would like Quizalize in my school") contact one of our team.
					li
						p#quizalizesignup
							strong How do I sign up to Quizalize?
						p To sign up to Quizalize all you need is a valid email and a password. 
							a(href="http://localhost:3001/quiz#/register/dashboard") Click here to go to our sign-up page. 
			.col-md-10.col-md-offset-1
				h4#usingquizalize.text-center
					strong Using Quizalize
			.col-md-8.col-md-offset-2.faq-list
				ul
					li
						p#createaquiz
							strong 	How do I create a quiz?
						p 
							|Once you are logged in you can create a quiz by clicking “Create a new quiz” 
							|button in the “Your Quizzes” tab.
					li
						p#savequiz
							strong How do I save a quiz?
						p 	
							|To save a quiz, you need to click the “Save” button on the quiz creation page. 
							|You can find all of your finished quizzes in  the “Your Quizzes” tab in the top right corner.
					li
						p#findquiz
							strong Where can I find the quizzes I’ve made?
						p
							|All of your quizzes can be found in the “Your Quizzes” tab in the top right corner.
					li
						p#accessquiz
							strong How can my students access my quizzes?
						p
							|You can set any quiz to any class and receive a unique class code. The students can 
							|then go to 
							a(href="http://quizal.me") www.quizal.me 
							|and input the class code and their name to access the quiz.
					li
						p#assignquiz
							strong How do I assign quizzes to students or classes?
						p 
						|Once you have completed a quiz, you can click the ‘Set Quiz’ button to assign the quiz 
						|to one of your classes. Once you have entered your class’ name you will be given a unique 
						|class code which your students can use to access the quiz.
					li
						p#findassignquiz
							strong Where can I find the quizzes I’ve assigned to my students?
						p
						|Quizzes you have assigned are found under the “Your Assignments” tab in the top right corner. 
						|This page will list all your classes and all the quizzes assigned to each class.
					li
						p#resultsquiz
							strong Where can I find my students' results?
						p
						|You can access the teacher dashboard for each class in the “Your Assignment” page. Just click the 
						|button labeled “Open *class name* Dashboard”, where *class name* is the name you’ve given to that class.
					li
						p#classcode
							strong What is a class code?
						p
						|A class code is a randomly generated identifier created when you first set a quiz to a class. 
						|The same class will have always the same class code. Students using the class code will be able 
						|to access every single quiz you have assigned to that class.
					li
						p#quickplay
							strong What is the difference between “Quick Play” and “Log in with Zzish”?
						p
						|Quick Play
						p
						|When a student logs in by entering a name and class code, the student is treated as a temporary user. 
						|Their student will show up in your teacher dashboard, but the student data will be deleted after 24 hours. 
						|Quick play is useful as students don’t need to remember usernames or passwords.  
						p
						|Log in with Zzish
						p
						|If you want to record student data over time, then your students need a student Zzish account. 
						|This is so that we know the student is the same student each time they use Quizalize. 
						|It’s easy to create student Zzish accounts.Students who have email addresses can simply go 
						|to www.zzish.com and create a student Zzish account by entering their email address and 
						|choosing a password.  If your students don’t have email addresses you can create a username and 
						|password for each of them quickly using the teacher dashboard in the Zzish Learning Hub.
					li
						p#zzishhub
							strong What is the Zzish Learning Hub?
						p
						|The Zzish Learning Hub is a universal dashboard for education applications and can be accessed 
						|by going to www.zzish.com.   The Learning Hub lets teachers and students collect data from many 
						|different applications in one central place and provides a single consistent dashboard for all 
						|the applications they use.   The Zzish Learning Hub also provides a universal login for education 
						|applications, similar to a Facebook login.  Students and teachers can log into different learning 
						|applications using the same login credentials.   At present only a few applications plug into the 
						|Learning Hub, but our goal is to have every education application plugged in in due course.

			.col-md-10.col-md-offset-1
				h4#servicepackage.text-center
					strong For Schools
			.col-md-8.col-md-offset-2.faq-list
				ul
					li
						p#servpack
							strong Which services and packages does Quizalize offer to schools?
						p
						|All the information you need is on our 
						a(href="/packages") "Schools" page. 
						|Otherwise, 
						a(href="mailto:team@zzish.com?subject=I would like Quizalize in my school") contact one of our team 
						|for chat and advice. We’re friendly! Promise!
	include form
	include about
	script.
		function submitForm() {
			$.ajax({
				url: "/quizHelp",
				method: "post",
				success: function(data,textstatus,jqXHR){
					$('#helpForm').slideUp();
					$("#helpSent").slideDown();
					},
					error: function(){
						console.log("Error Posting Form details");
						},
						data: {
							name: $('#ename').val(),
							email: $('#email').val(),
							message: $('#message').val()
						}
						});
			return false;
		}
		function ask(type) {
			if (type=="demo") {
				$("#message").val("I want a demo at my school");
			}
			else if (type =="question") {
				$("#message").val("");
			}
			else if (type=="order") {
				$("#message").val("I would like an information pack sent to my school");
			}
			ask2("#sendForm")
		}
		function ask2(type) {
			$('html, body').animate({
				scrollTop: $(type).offset().top
				}, 2000);
		}

