doctype html
html(ng-app='quizApp')
    head
        title Quizalize
        meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
        meta(name='description', content='')
        meta(charset='UTF-8')
        meta(http-equiv="X-UA-Compatible", content="IE=edge")

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link rel="apple-touch-icon" sizes="72x72" href="/img/icons/touch-icon-ipad-precomposed.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/img/icons/touch-icon-iphone-retina-precomposed.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/img/icons/touch-icon-ipad-retina-precomposed.png" />
        <link rel="icon" sizes="192x192" href="/img/icons/ic_launcher.png">
        <link rel="stylesheet" href="/outdatedbrowser/outdatedbrowser.min.css">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">

        script.
            var initToken = JSON.parse(!{JSON.stringify(zzishapi)});

        script(src='/js/vendor.js')
        script(src='/lib/angular.min.js')  
        script(src='/lib/angular-animate.min.js')  
        script(src='/lib/angular-route.min.js')        
        script(src='/lib/jquery-1.11.0.js')
        script(src='/lib/uuid.js')
        script(src='#{session.zzishsdkurl}/zzish.js')
        script(src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML')        
        script(src='/js/quiz.js')
        script(src='/lib/bootstrap.js')
        script(src='/js/quizApp.js')
        script(src="/outdatedbrowser/outdatedbrowser.min.js")
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-2402555-23', 'auto');
            ga('send', 'pageview');
            $( document ).ready(function() {
                outdatedBrowser({
                    bgColor: '#f25648',
                    color: '#ffffff',
                    lowerThan: 'transform',
                    languagePath: '/outdatedbrowser/lang/en.html'
                })
            })              
        link(href='/css/cq-bootstrap.min.css', rel='stylesheet')
        link(href='/css/quizalize.css', rel='stylesheet')
        link(href='http://fonts.googleapis.com/css?family=Source+Code+Pro:500', rel='stylesheet', type='text/css')
        script(src="//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.js")
        link(href='//cdnjs.cloudflare.com/ajax/libs/KaTeX/0.3.0/katex.min.css', rel='stylesheet')
            
            

        style.
            .quiz-find-title {
                margin-bottom: 40px;
            } 
            .container.ng-enter {
                -webkit-transition: .3s ease-out all; /* Safari/Chrome */
                -moz-transition: .3s ease-out all; /* Firefox */
                -o-transition: .3s ease-out all; /* Opera */
                transition: .3s ease-out all; /* IE10+ and Future Browsers */
            }

            .container.ng-enter {
                opacity: 0;
            }

            .container.ng-enter.ng-enter-active {
                opacity: 1;
            }

            .container.ng-leave {
                -webkit-transition: .3s ease-out all; /* Safari/Chrome */
                -moz-transition: .3s ease-out all; /* Firefox */
                -o-transition: .3s ease-out all; /* Opera */
                transition: .3s ease-out all; /* IE10+ and Future Browsers */
            }

            .container.ng-leave {
                opacity: 1;
            }

            .container.ng-leave.ng-leave-active {
                opacity: 0;
            }

            @media (orientation:portrait) {
                .bg-art {
                    background: url('/img/classQuizzBG.jpg') no-repeat;
                    background-size: cover;
                    height: 35vh;
                }

                @media(max-height: 320px) {
                .bg-art {
                    height: 15vh;
                }
                }

                @media(max-height: 560px) {
                    .bg-art {
                        height: 25vh;
                    }
                }

                @media(min-height: 720px) {
                    .bg-art {
                        height: 40vh;
                    }
                }

                @media(min-height: 720px) {
                    .bg-art {
                        height: 50vh;
                    }
                }

                @media(min-width: 960px){
                    .bg-art {
                        height: 80vh;
                    }
                }
            }

            @media (orientation:landscape) {
                .bg-art {
                    background: url('/img/classQuizzBGWide.jpg') no-repeat;
                    background-size: cover;
                    height: 40vh;
                }
            }

            @media (orientation:landscape) and (max-width:767px) {
                .bg-art {
                    background: url('/img/classQuizzBGWider.jpg') no-repeat;
                    background-size: cover;
                    padding-top:60px;
                }
            }



            .letterTile {
                font-family: 'Source Code Pro', monospace;
                font-weight: 500;
            }

            @media (max-width: 767px) {
                .letterTile {
                    padding: 5px 10px;
                    font-size: 12px;
                    line-height: 1.5;
                    border-radius: 3px;
                }
            }

            body{
                padding-top:60px;
            }

            .quizQuestion {
                font-size: 150%;
                font-weight: 700;
            }

            @media (min-width: 768px) {
                .quizQuestion {

                }
            }
    body
        button.btn.btn-primary.btn-lg(data-toggle="modal",data-target="#myModal",style="display:none")#messageButton

        div.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true",ng-controller="NavBarController as nctrl")#myModal
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        input(type="hidden",value="")#modalUuid
                        button.close(data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                        h4.modal-title#modalTitle
                    div.modal-body
                        p#modalMessage
                    div.modal-footer
                        button.btn.btn-default(data-dismiss="modal")#closeButton Close
                        button.btn.btn-primary#confirmButton(data-dismiss="modal",ng-click="nctrl.confirmed()") OK

        div(ng-view)
