section#intro.home-slide
  .item-inner.item-inner__hero.item-1
    .cta-container
      h1.cta2-title
        strong Spot student learning gaps instantly
      .row
        .col-md-12
          a.cta2(href='/quiz/register') Get my free account
          p.cta-thirty Sign up in less than 30 seconds  
      .row.text-center
            a.cta_what(href='https://www.youtube.com/watch?v=J3_CWmLcEI0', title='Quizalize Video') Watch an overview  
            a#play-but(href='https://www.youtube.com/watch?v=J3_CWmLcEI0', title='Quizalize Video')
              img(src='cquiz/img/play.png', style='height:100px; margin-left:20px', alt='')               
    