extends baseLayout

block body
    .container
        .row
            .col
                :markdown
                    # Privacy Policy

                    Effective date: September 30th, 2014

                    We at Zzish Limited, ("Zzish," "we," "us," "our”) know that you care about how your personal information is used and shared, and we take your privacy seriously. By accessing or using our Services, you acknowledge that you accept the practices and policies outlined in this Privacy Policy. Remember that your use of Zzish’s Services is at all times subject to the Terms of Service, which incorporates this Privacy Policy. Any terms we use here without defining them have the definitions given to them in the Terms of Service.

                    Please read on to learn more about how we collect and use your information; if you have any questions or concerns regarding our privacy practices, please send us a detailed message to privacy@zzish.com.

                    ### Overview

                    This Privacy Policy explains how Zzish collects and uses information from its Services users, including our treatment of personally identifiable information. This policy does not apply to websites or practices of companies that Zzish does not own or control, or to individuals that Zzish does not employ or manage, including providers of Publisher Software.

                    ### Children's Data

                    If you are not of legal age to form a binding contract (in many jurisdictions, this can be as early as 12), you may only use the Services and disclose information to us with your parent's or guardian's express consent. Review this Privacy Policy with your parent or guardian and make sure you understand it, and do the same with the privacy policies of all websites you visit or mobile applications you use.

                    We only collect personal information through the Services from a child under 13 where that student's school, district, and/or teacher has agreed (via the terms described in more detail in the Terms of Service) to obtain parental consent for that child to use the Services and disclose personal information to us, for the use and benefit of the learning environment. If you are a student under 13, please do not send any personal information about yourself to us if your school, district, and/or teacher has not obtained this prior consent from your parent or guardian or you have not spoken to your parent, and please do not send any personal information other than what we request from you in connection with the Services. If we learn we have collected personal information from a student under 13 without parental consent being obtained by his or her school, district, and/or teacher, or if we learn a student under 13 has provided us personal information beyond what we request from him or her, we will delete that information as quickly as possible. If you believe that a student under 13 may have provided us personal information in violation of this paragraph, please contact us at privacy@zzish.com.

                    When we use the term "Personal Information" in this Privacy Policy, we are referring to personally identifiable information of individual, non-student registrants of the Services. References to "Children's Personal Information" only apply to personally identifiable information of users who have registered for the Services as minor students (i.e., students under the age of 18). General references to "information" apply to all users.

                    If you are a student registrant and your parent or guardian has signed up for the Services with an Access Code provided by your teacher, you understand that your parent or guardian can view all information within or associated with your Services account, including, without limitation, messages between you and your teacher and grades you received on assignments.

                    ### The Data collected

                    We receive and store any information you knowingly enter on the Services, whether via computer, mobile phone, other wireless device, or that you provide to us in any other way. This information may include, without limitation, Personal Information such as your name, user name, email address, phone number, profile picture, school affiliation and location, and any other information necessary for us to provide our Services. If you are a student registrant, the only Children's Personal Information we require is your name. Optionally, you may be asked for you gender and age.; through the functionality of the Services, you may also be permitted to input a profile picture, and an email address.

                    We receive and store certain types of usage information whenever you interact with the Services; this information is not Personal Information or Children's Personal Information. For example, Zzish automatically receives and records information on our server logs from your browser including your IP address, Zzish cookie information, and the page you requested. We also record the details of your activity on the Services, and the number and frequency of visitors to our site and its components.

                    Cookies are alphanumeric identifiers that we transfer to your computer or mobile device to enable our systems to recognize your computer or device and tell us how and when pages in our site are visited and by how many people. Zzish cookies do not collect Personal Information or Children's Personal Information, and we do not combine the general information collected through cookies with other Personal Information or Children's Personal Information to tell us who you are or what your user name or email address is. Most browsers have an option for turning off the cookie feature, which will prevent your browser from accepting new cookies, as well as (depending on the sophistication of your browser software) allowing you to decide on acceptance of each new cookie in a variety of ways. We strongly recommend that you leave the cookies activated, however, because you may not be able to log in or use many of the Services' most attractive features without cookies enabled. Our partners, affiliates, and service providers may also transmit cookies to your computer or device, to help provide you with an optimal online experience. For example, if you are playing a learning game offered by a Publisher, that Publisher may transmit cookies to you, allowing you to save your game history. The use of cookies by third parties is not covered by this Privacy Policy and we do not have access or control over such cookies.

                    ### Data Usage

                    When you use the Services, you may set up your personal profile, form relationships, send messages, perform searches and queries, and transmit information through various channels, depending on the category of user ("User Category") you are registered as, and as permitted by the functionality of the Services. The information we gather from users enables us to personalize and improve our services, and allows users to set up a user account and profile through the Services.
                    Personal Information

                    The Personal Information you provide is used for such purposes as responding to your requests for certain information and services, customizing your experience, and communicating with you about the Services.

                    We use the Children's Personal Information for creating your individual account, customizing your experience, and for sending you notifications via the Services from your teacher, school, district, fellow Limited Access Group members, and from Zzish (regarding your use of the Services). Please note that your parent or guardian, as well as an administrator from your school and/or district, can view all activity and content associated with your student account, including your Children's Personal Information.

                    If you provide us your email address, we may send you email communications. Web beacons may also be used in some of our emails to let us know which emails (and which links within those emails) have been opened by recipients. This allows us to gauge the effectiveness of our customer communications. If you are a student, we will only use your email address to send you Notifications. To opt out of receiving emails from us, please contact us at privacy@zzish.com. Please note that if you do not want to receive legal notices from us via email, such as this Privacy Policy, those legal notices will still govern your use of the Services, and you are responsible for visiting this Privacy Policy from time to time to review any changes.

                    Zzish uses this type of aggregate data to enable us to figure out how often users use parts of the Services, so that we can make the Services appealing and relevant to as many users as possible, and customize and improve those Services. As part of our use of information, we may provide aggregate information to our partners (in a non-personally-identifiable format) about how our users use our site. We share this type of statistical data so that our partners also understand how often people use our partners' services and the Services to help provide you with an optimal online experience. We may link usage information to Personal Information and Children's Personal Information that we collect through the Services, but we will only use this linked information internally (for example, to customize your experience), and will not disclose it in linked format to third parties.

                    Personal Information and Children's Personal Information about our users is an integral part of our business. We neither rent nor sell your Personal Information or Children's Personal Information; we may share your Personal Information and Children's Personal Information in personally identifiable form only as described below. Again, please note that references to "Personal Information" only apply to personal information of individuals who are not students.


                    We may release Personal Information or Children's Personal Information when we believe in good faith that release is necessary to comply with the law (such as to comply with a subpoena); enforce or apply our Terms of Service and other agreements; or protect the rights, property, or safety of Zzish, our employees, our users, or others. We will try to give you notice if we release information for these reasons, but please understand that we reserve the right not to, as it may not be practical, legal, or safe to do so. We may also provide this information to the app developer in aggregate form.

                    ### Data Protection

                    Your Zzish account Personal Information or Children's Personal Information is protected by a password for your privacy and security.

                    You may help protect against unauthorized access to your account and Personal Information or Children's Personal Information by selecting and protecting your password appropriately and limiting access to your computer and browser by signing off after you have finished accessing your account.

                    Zzish endeavors to keep your information private; however, we cannot guarantee security. Unauthorized entry or use, hardware or software failure, and other factors may compromise the security of user information. For additional information about the security measures we use in connection with the Services, please contact us at privacy@zzish.com.

                    The Services contain links to other sites. We are not responsible for the privacy policies and/or practices on other sites (but you should read all third parties' privacy policies to ensure you understand them). This Privacy Policy only governs information collected by Zzish on the Services.

                    We may make changes to this Privacy Policy from time to time for any reason. Use of information we collect is subject to the Privacy Policy in effect at the time such information is collected. If we make changes in the way we use Personal Information or Children's Personal Information, we will notify you via email or by posting an announcement on the Services with two (2) weeks prior notice before the change becomes effective. Users are bound by any changes to the Privacy Policy when he or she uses the Services upon the conclusion of such two (2) week notice period. This notice period only applies to changes to the Privacy Policy; you understand that it may not be possible in certain situations to provide advance notice of other changes to the Terms of Service (for example, where a change to the Terms is necessary to comply with legal requirements).

                    When you use the Services, you are consenting to have your data transferred to and processed in the UK/Ireland. All of Zzish's servers are currently in the UK/Ireland, and we aren't able to process your information within the borders of any other country. Given this limitation, if your use of the Services or disclosure of certain information to Zzish would violate any law that is applicable to you, your right to use the Services and/or disclose such information is revoked, as it is wherever use of the Services is prohibited by law (as described in the Terms of Service).
include about

