extends baseLayout2

block header
	p Hello

block body
	h1 #{quiz.title}
	p Hello
	p Hello
		| Goodbye
		| LADKF
	.container
		.row
			.col-xs-4
				p Hello
			.col-xs-4
				p Goodbye
			.col-xs-4
				p No