extends baseLayout

block body
	.container
		.row
			.col-xs-12
				:markdown
					Please note: If you are not of legal age to form a binding contract (in many places, this can be as young as 12 years old), then you must get your parent or guardian to read these terms and agree to them for you, before you use Zzish or provide any information to us. Please review this agreement with your parent or guardian so that you both understand how Zzish works and what restrictions apply to your use of our websites and services. Remember, always get an adult's permission before going online.

					#TERMS OF SERVICE

					Effective date: September 30th, 2014

					Thanks for using Zzish! We're glad you're here, but there are some rules you need to agree to before you use our websites and services ("Services"). When we use the word "Services," we mean not only the Zzish.com website, but also all the other websites, products, services and applications made available by Zzish. If you have any questions, comments, or concerns regarding these Terms or the Services, please contact us at info@zzish.com.

					###Your Zzish Contract

					These Terms of Service (the "Terms") are a binding contract between you and Zzish, Limited. ("Zzish," or "we" or "us"). You must agree and accept all of the Terms, or you don't have the right to use the Services. Your using the Services in any way means that you agree to all of these Terms, and these Terms will remain in effect while you use the Services.

					These Terms include the provisions in this document, and in the Zzish Privacy Policy. Our Services are constantly changing, to keep up with the dynamic needs of learners everywhere - so, these Terms might need to change, too. If they do change, we will do our best to tell you in advance by placing a notification on the Zzish.com website, or we might send you an email. In certain situations (for example, where a change to the Terms is necessary to comply with legal requirements), we may not be able to give you advance notice. If you don't like the new Terms, you are free to reject them - unfortunately, that means you won't be able to use the Services anymore. If you use the Services in any way after a change to the Terms is effective, then please remember that means you agree to all of the Terms.

					Except for changes by us as described here, no other amendment or modification of these Terms will be effective unless in writing and signed by both you and us.

					###Privacy Policy

					Zzish takes the privacy of its users very seriously. For the entire current Zzish Privacy Policy, please [click here](privacy).

					###Zzish Basics

					First, you have to sign up for an account, and provide your email address and  full name and select a password. For Apps directed at children, your child will be asked for a name, your gender, your age, and your email address. We will notify you about their registration and their account will be verified once you click to accept our terms of service. They will also be provided the ability to select from a simple list of usernames. The username, password and Zzish code will be emailed to you for your reference. The Zzish code is used to securely add friends to the Zzish Learning Hub. You promise to provide us with accurate, complete, and updated registration information about yourself. You can't select for your email address an email address that you don't have the rights to use. In certain situations, your Zzish Username may be selected for you by your school or district; the same rules apply to them when they select an Zzish Username for you. You may not transfer your account to anyone else without our prior written permission.

					You represent and warrant that you are of legal age to form a binding contract (or if not, you've received your parent's or guardian's permission to use the Services and gotten your parent or guardian to agree to these Terms on your behalf, as we described earlier). If you're agreeing to these Terms on behalf of an organization or entity (for example, if you're an administrator agreeing to these Terms on behalf of your school), you represent and warrant that you are authorized to agree to these Terms on that organization or entity's behalf and bind them to these Terms.

					You promise to only use the Services for your personal, internal, non-commercial, educational use, and only in a manner that complies with all laws that apply to you. If your use of the Services is prohibited by applicable laws, then you aren't authorized to use the Services. We can't and won't be responsible for you using the Services in a way that breaks the law.

					###Service Updates

					Zzish is a cutting edge learning platform, so the Services will change over time. We may change, suspend, or discontinue any part of the Services, or we may introduce new features or impose limits on certain features or restrict access to parts or all of the Services. We'll try to give you notice when we make a material change to the Services that would adversely affect you, but this isn't always practical. Similarly, we reserve the right to remove any Content from the Services at any time, for any reason (including, but not limited to, if someone alleges you contributed that Content in violation of these Terms), or without any reason, and without notice.

					###Fees/Charges

					Zzish does not currently not charge users for the platform, but developers who make apps that use our platform may need to pay us a platform fee and may charge you to use their apps

					###Removing Your Account

					You're free to do that at any time; please refer to our Privacy Policy, as well as the licenses above, to understand how we treat information you provide to us after you have stopped using our Services.

					Zzish is also free to terminate (or suspend access to) your use of the Services or your account, for any reason, including your breach of these Terms. Zzish has the sole right to decide whether you are in violation of any of the restrictions set forth in these Terms.

					Account termination may result in destruction of any Content associated with your account, so keep that in mind before you decide to terminate your account. We will try to provide advance notice to you prior to our terminating your account so that you are able to retrieve any important documents you may have stored in your account (to the extent allowed by law and these Terms), but we may not do so if we determine it would be impractical, illegal, or would not be in the interest of someone's safety or security to do so.

					If you would have deleted your account by mistake, contact us immediately at support@Zzish.com - we will try to help, but unfortunately, we can't promise that we can recover or restore anything.

					Provisions that, by their nature, should survive termination of these Terms shall survive termination. By way of example, all of the following will survive termination: any obligation you have to pay us or indemnify us, any limitations on our liability, any terms regarding ownership or intellectual property rights, and terms regarding disputes between us.

					#Legal Details

					Warranty Disclaimer

					Zzish does not make any representations or warranties concerning any content contained in or accessing through the Services, and we will not be responsible or liable for the accuracy, copyright compliance, legality, or decency of material contained in or accessed through the Services. We make no representations or warranties regarding suggestions or recommendations of services or products (including Publisher Software) offered or purchased through the Services. Products and services purchased or offered (whether or not following such recommendations and suggestions) through the Services are provided "AS IS" and without any warranty of any kind from Zzish or others (unless, with respect to such others only, provided expressly and unambiguously in writing by a designated third party for a specific product). THE SERVICES, CONTENT, WEBSITE, AND ANY SOFTWARE ARE PROVIDED ON AN "AS-IS" BASIS, WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, OR THAT USE OF THE SERVICES WILL BE UNINTERRUPTED OR ERROR-FREE. SOME STATES/COUTNRIES DO NOT ALLOW LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY LASTS, SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.

					Limitation of Liability

					TO THE FULLEST EXTENT ALLOWED BY APPLICABLE LAW, UNDER NO CIRCUMSTANCES AND UNDER NO LEGAL THEORY (INCLUDING, WITHOUT LIMITATION, TORT, CONTRACT, STRICT LIABILITY, OR OTHERWISE) SHALL Zzish BE LIABLE TO YOU OR TO ANY OTHER PERSON FOR (A) ANY INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES OF ANY KIND, INCLUDING DAMAGES FOR LOST PROFITS, LOSS OF GOODWILL, WORK STOPPAGE, ACCURACY OF RESULTS, OR COMPUTER FAILURE OR MALFUNCTION.

					Indemnity

					You agree to indemnify and hold Zzish, its affiliates, officers, agents, employees, contractors, and partners harmless for and against any and all claims, liabilities, damages (actual and consequential), losses, and expenses (including solicitors' fees) arising from or in any way related to any third party claims relating to (a) your use of the Services (including any actions taken by a third party using your account), and (b) your violation of these Terms. In the event of such a claim, suit, or action ("Claim"), we will provide notice of the Claim to the contact information we have for your account (provided that failure to deliver such notice shall not eliminate or reduce your indemnification obligations hereunder).

					Assignment

					You may not assign, delegate, or transfer these Terms or your rights or obligations hereunder, or your Services account, in any way (by operation of law or otherwise) without Zzish's prior written consent. We may transfer, assign, or delegate these Terms and our rights and obligations without consent.

					Miscellaneous

					You will be responsible for withholding, filing, and reporting all taxes, duties, and other governmental assessments associated with your activity in connection with the Services. The failure of either you or us to exercise, in any way, any right herein shall not be deemed a waiver of any further rights hereunder. If any provision of this Agreement is found to be unenforceable or invalid, that provision will be limited or eliminated, to the minimum extent necessary, so that these Terms shall otherwise remain in full force and effect and enforceable. You and Zzish agree that these Terms are the complete and exclusive statement of the mutual understanding between you and Zzish, and that it supersedes and cancels all previous written and oral agreements, communications, and other understandings relating to the subject matter of these Terms, and that all modifications to these Terms must be in a writing signed by both parties (except as otherwise provided herein). No agency, partnership, joint venture, or employment is created as a result of these Terms and you do not have any authority of any kind to bind Zzish in any respect whatsoever. Except as expressly set forth in the Apple Application Terms, you and Zzish agree there are no third party beneficiaries intended under this Agreement.