.q-home__dashboard {
    @include boxHome;
    background: $brand-color-purple-light;
    margin-bottom: -110px;
    &__image {
        margin-top: 40px;
        // height: 360px;
        overflow: hidden;
        max-width: 100%;
        padding: 0 10px;

        img {
            width: 100%;
            height: 100%;
            max-width: 485px;
            max-height: 512px;
        }
    }

}
