.cq-header {
    max-width: 860px;
    margin: auto;
    padding: 0 10px;
    @include clearfix();
    &__buttons {
        list-style: none;
        padding: 5px 0;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;

        @include media($size-tablet) {
            display: flex;
            // width: 20%;
        }

        li {
            display: block;

            @include media($size-tablet) {
                // width: 20%;
                flex-grow: 2;
            }
            &.cq-header__buttons__signin {
                flex-grow: 1;
            }
        }
        &__button {
            display: block;
            color: #612C6C;
            text-align: center;
            padding: 5px;
            &:hover {
                color: #612C6C;
            }
        }

        &__cta {
            display: block;
            background: #612C6C;
            padding: 0 10px;
            border-radius: 20px;
            color: #FFF;
            text-align: center;
            padding: 5px;
            &:hover {
                color: #FFF;
            }
        }
    }
}
