@keyframes cqHeaderDropdown {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.cq-header {
    border-radius: 0;
    min-width: 980px;
    z-index: 20;
    position: relative;
    pointer-events: none;
    @include clearfix();
    &__container {
        max-width: 1170px;
        margin: auto;
        padding: 10px;
    }

    &__brand {
        pointer-events: auto;
        float: left;
    }

    &__buttons {
        pointer-events: auto;
        list-style: none;
        float: right;
        margin: 0;
        padding: 0;
        display: block;
        @include clearfix();

        & > li {
            display: inline-block;
            float: left;
        }
        a { text-decoration: none; }
    }
    .navbar-btn {
        margin-top:9px;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #FFF;
        color: #FFF;
        cursor: pointer;
        margin-right: 5px;
        position: relative;
        display: block;
        &:focus,
        &:hover {
            background: $brand-color-red;
            border: 1px solid $brand-color-red;
        }
        &.active {
            background: #FFF;
            color: $brand-color-red;
            border: 1px solid #FFF;
        }
    }

    .navbar-dropdown {
        margin-top:9px;
        padding: 9px;
        border-radius: 5px 5px 0 0;

        color: #FFF;
        cursor: pointer;
        margin-right: 5px;
        position: relative;
        &:focus,
        &:hover {
            background: $brand-color-red;
            border-color: 1px solid $brand-color-red;
        }
        &.active {
            background: #FFF;
            color: $brand-color-red;
        }
    }

    .cq-brand {
        height:44px;
        margin-top:9px;
        padding-left:5px;
    }

    .person-menu {
        @include clearfix();
        position: absolute;
        background: rgba($brand-color-red, 0.9);
        width: 100%;
        right: 0;
        top: 100%;
        min-width: 120px;
        border-radius: 0 0 5px 5px;
        overflow: hidden;
        transform-origin: 50% 0;
        animation: cqHeaderDropdown 200ms ease-out;
        animation-fill-mode: both;
        z-index: 10;

        a {
            color: #FFF;
            display: block;
            width: 100%;
            padding: 10px;
            text-decoration: none;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        li {
            &:hover {
                background: rgba(#FFF, .8);
                a { color: $brand-color-red; }
            }
        }
    }
}
