@import './../shared/scss/variables';
@import './../shared/scss/mixins';
@import './../shared/scss/layout';

@import url("//fonts.googleapis.com/css?family=Lato:400,700,900,400italic");
html, body {
	background: $brand-color-blue;
	font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
}


.q-home {
	font-size: 16px;
	z-index: 3;
	color: $brand-color-grey-dark;
	&__background {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 1;
		background-image: url(./../assets/bg-mountain.jpg);
		// background-attachment: fixed;
		background-position: center center;
		background-size: cover;
	}
	&__foreground {
		position: relative;
		z-index: 2;
	}

	// background: $brand-color-blue;
	// background-image: url(./../assets/bg-mountain.jpg);
	// background-attachment: fixed;
	// background-position: center center;
	// background-size: cover;


	min-width: 320px;

	img {
		max-width: 100%;
	}

	&__section {
		padding-top: 40px;
		padding-bottom: 40px;
		&__inner {
			max-width: 1120px;
			padding: 20px;
			margin: auto;
			text-align: center;

			h1 {
				color: $brand-color-blue;
				padding: 20px 10px;
			}
			p { padding: 10px; }
		}
	}
}

@mixin boxHome {
	position: relative;
	max-width: 840px;
	margin: auto;
	background: $brand-color-purple;
	color: #FFF;
	text-align: center;
	padding-top: 40px;
	@include clearfix();
}
// @import './../createQuizApp/components/views/CQViewHeader/CQViewHeaderStyles';
@import 'publishers/header';
@import 'publishers/brand';
@import 'publishers/intro';
@import 'publishers/player';
@import 'publishers/benefits';
@import 'publishers/questionlist';
@import 'publishers/features';
@import 'publishers/box_students';
@import 'publishers/box_start';
@import 'publishers/box_zzish';
@import 'publishers/whatis';
@import 'publishers/box_features';
@import 'publishers/partners';


@import 'home/footer';

// @import 'home/hero';
// @import 'home/whatis';
// @import 'home/howitworks';
// @import 'home/features';
// @import 'home/tutorial';
