@import './../../../../../quizApp/components/shared/variables';
.ql-question-list {
    .no-questions {
        text-align: center;
        h1, h2, h3 {
            color: #999;
            margin: 20px auto;
        }
    }
    .selected {
        background: #FFF;
    }
    .icons {
        text-align: right;
    }
}
