.cq-viewclass {
    max-width: 600px;
    margin: 0 auto 40px;
    background: #BB27DD;
    border-radius: 25px;
    min-height: 50px;
    font-size: 18px;
    color: #FFF;
    padding: 10px 25px 30px;
    box-shadow: 0 5px 10px rgba($brand-color-black, .4);

    @at-root #{&}__list {
        margin: 10px 50px;
    }
    @at-root #{&}__icon {
        color: #BB27DD;
        background: #FFF;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        display: inline-block;
        text-align: center;
        line-height: 40px;

    }

    @at-root #{&}__new {
        text-align: center;
        input { width: 200px; }
    }

    @at-root #{&}__done {
        display: block;
        margin-bottom: 20px;
    }

    input[type='radio']{
        margin-right: 10px;
    }

    input {
        color: $brand-color-grey;

    }

    label {
        font-weight: normal;
        cursor: pointer;
    }

}
