$brand-color-red: #DE2532;
$brand-color-blue: #296EEE;
$brand-color-orange: #FF6B00;

/* $brand-color-blue: #2a7ed0; */
$brand-color-red-light: #FE7C67;
$brand-color-blue: #5DB3C4;

$brand-color-purple: #612C6C;
$brand-color-purple-light: #953AA7;


$brand-color-black: #111111;
$brand-color-grey-dark:    lighten($brand-color-black, 20%);
$brand-color-grey:         lighten($brand-color-black, 40%);
$brand-color-grey-light:   lighten($brand-color-black, 60%);
$brand-color-grey-lighter:   lighten($brand-color-black, 80%);

//https://color.adobe.com/Birdfolio-Blues-color-theme-1945976/
$brand-color-alt-1: #2B3A42;
$brand-color-alt-2: #3F5765;
$brand-color-alt-3: #BDD4DE;
$brand-color-alt-4: #EFEFEF;
$brand-color-alt-5: #FF530D;


$brand-color-zzish-light: #7E418B;
