.q-home__questionlist
    h3 …and measures strengths and weaknesses, topic by topic
    .q-home__questionlist__image
        img(src="/img/homev2/home_question-list.png", width="650", height="301" alt="")    
    
