.q-home__intro
    .q-home__intro__bubble
        | Class 4B, 
        br 
        | Thursday 3pm
        .q-home__intro__bubble__alt fully engaged
    
    .q-home__intro__explanation
        | Quizalize turns assessments into fun classroom or homework quiz games 
        .q-home__intro__explanation__cta Start here: Choose a topic
