.q-home__start
    h1 Get started
    h3 Make fun games on any topic, to play in class or as homework
    p You can be ready to go in seconds

    a(href="/quiz/welcome")
        span.q-home__start__cta__teachers 
            b Teachers 
            br
            | start here
        
        
    a(href="/app/")
        span.q-home__start__cta__students
            b Students 
            br
            | start here
    
    
    
    
