.q-home__player
    h3 Choose from hundreds of topics
    p or make your own in minutes - just type questions and play
            
    
    .q-home__player__graphic
        .q-home__player__device
            .q-home__player__device__screen
