.q-home__start
    h1 Start here - it’s free
    p You can be ready to go in seconds

    span.q-home__start__cta Start here : Choose a topic
    
    
    h1 or ask us anything
    form#contact-form(onsubmit='return submitForm()')
        .row
            .col-md-12
                input#ename.form-control.input-lg(type='text', placeholder='Enter name')
            .col-md-12
                input#email.form-control.input-lg(type='email', placeholder='Enter email', required='')
        .row
            .col-md-12
                .form-group
                    textarea#message.form-control(name='message', rows='4', cols='25', placeholder='Message')
                input#btnContactUs.btn-lg.btn-danger.btn-block(type='submit', value='Send')
