.q-home__students
    h1 But the best thing is, students love it
    

    .q-home__students__quote    
        p …great tool for testing children in an engaging and useful way…
        small Ross Orton, Deputy Headteacher at Dog Kennel Hill Primary School
    
    .q-home__students__quote
        p It was good. It was entertaining. You got to learn lots.
        small Megan, Year 6 pupil, Millbrook Academy
    
    .q-home__students__quote
        p Children were highly enthused - it's a great tool for consolidating facts
        small Dave Harwood, Year 6 Teacher, Paganel School
        
