.q-home__intro

    
    .q-home__intro__explanation
        | Make fun games on any topic, to play in class or as homework 
        .q-home__intro__explanation__cta
            a(href="/quiz/welcome") 
                | Teachers 
                br
                | start here
                
        .q-home__intro__explanation__cta
            a(href="/quiz/welcome") 
                | Students 
                br
                | play here
        b How it works   
        | watch a video
        
    .q-home__player__graphic
        .q-home__player__device
            .q-home__player__device__screen
