.q-home__intro
    .q-home__intro__bkg
    
    .q-home__intro__explanation
        | Make fun games on any topic, to play in class or as homework 
        
        .q-home__intro__explanation__ctas
            .q-home__intro__explanation__cta__teacher
                a(href="/quiz/welcome") 
                    b Teachers 
                    br
                    | start here
                    
            .q-home__intro__explanation__cta__student
                a(href="/app") 
                    b Students 
                    br
                    | play here
        .q-home__intro__explanation__foot
            b How it works 
            a(href="https://www.youtube.com/watch?v=J3_CWmLcEI0", target="_blank") watch a video
        
    .q-home__intro__devices
        img(src="/img/homev2/home_devices.png", width="100", height="60", alt="")
        p No setup or downloads. Students can play on any laptop, tablet or phone


    .q-home__intro__graphic
        .q-home__intro__device
            .q-home__intro__device__screen
