.q-home__player
    h3 Choose from hundreds of topics
    p or make your own in minutes - just type questions and play
            
    .q-home__player__devices
        img(src="/img/homev2/home_devices.png", width="100", height="60", alt="")
        p No setup or downloads. Students play on any laptops, tablets or phones
    
    .q-home__player__graphic
        .q-home__player__device
            .q-home__player__device__screen
