.q-home__features
    h2 Quizalize is designed for teachers
    
    .q-home__features__feature
        img(src="/img/homev2/icon_heart.png", width="60", alt="")
        h3 Your get to be a teacher again
        p We know how many hours you spend marking, comparing and making speadsheets of student’s strengths, weaknesses and progress. Quizalize does all that so you can do more of what you love.
    
    .q-home__features__feature
        img(src="/img/homev2/icon_bars.png", width="60", alt="")
        h3 See strengths and weaknesses, live
        p See what individuals and whole classes are struggling with, right while you have the chance to help them.

    .q-home__features__feature
        img(src="/img/homev2/icon_light.png", width="60", alt="")
        h3 So simple - it just works
        p No setup. No special knowledge or equipment. We designed this for everyone.
        
    .q-home__features__feature
        img(src="/img/homev2/icon_teacher.png", width="60", alt="")
        h3 Made by teachers, for teachers
        p We passionately believe the best way to make really great products for real classrooms is to work with, and listen to, real teachers and pupils.
        
        
    .q-home__features__feature
        img(src="/img/homev2/icon_paperwork.png", width="60", alt="")
        h3 Less paper. Less paperwork.
        p Stop spending thousands photocopying paper learning resources. Teachers spend hours distributing, marking and recording students paper-based assessments. Two good reasons to switch to switch to Quizalize.
        
