.q-home__intro
    .q-home__intro__bubble
        | Class 4B, 
        br 
        | Thursday 3pm
        .q-home__intro__bubble__alt fully engaged
    
    .q-home__intro__explanation
        | Quizalize turns assessments into fun classroom or homework quiz games 
        .q-home__intro__explanation__cta
            a(href="/quiz/register") Start here: Choose a topic
        
    .q-home__intro__attribution
        .q-home__intro__attribution__icon
            i.glyphicon.glyphicon-info-sign 
        .q-home__intro__attribution__author &nbsp;Photo taken by Lexie Flickinger
