section.q-home__extra
    
    .q-home__extra__left
        ul.about
            li
                a(href='/faq') FAQ
            li
                a(href='/terms') Terms of Service
            li
                a(href='/privacy-policy') Privacy Policy
            li
                a(href='/COPPA-policy')   COPPA Policy
            li
                a(href='http://blog.quizalize.com') Blog
    .q-home__extra__right
        .social
            h6.q-home__extra__right__title Follow us
            ul
                li
                    a(href='http://www.facebook.com/quizalize')
                        i.fa.fa-lg.fa-facebook
                li
                    a(href='http://twitter.com/quizalizeapp')
                        i.fa.fa-lg.fa-twitter
                li
                    a(href='http://blog.zzish.com/')
                        i.fa.fa-lg.fa-tumblr
                li
                    a(href='http://www.youtube.com/channel/UCsN-UvRQ-hYUAndrQePJkMA')
                        i.fa.fa-lg.fa-youtube
