.cq-dashboard__profile {
    /* width: 100%; */
    /* float: left; */
    /* background: rgba(green, .5); */
    /* padding: 10px; */
    small {
        display: block;
        color: $brand-color-grey;
        margin-top: 10px;
    }

}

.cq-dashboard {
    @include ql-container;
    @include clearfix;

    &__bannerpicture {
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center center;

        &.no-banner {
            // height: 20px;
            background: linear-gradient($brand-color-purple,$brand-color-purple-light);
        }

        &.banner {
            // padding-top: 200px;
        }
    }


    &__profile {
        position: relative;

        &__extra {
            position: relative;
            height: 120px
        }

        &__picture {

            position: absolute;
            top: -140px;
            left: 30px;
            width: 200px;
            height: 200px;

            border-radius: 100%;
            border: 4px solid #FFF;
            box-shadow: inset 0 0 6px rgba(#000, .7);
            overflow: hidden;
            display: inline-block;
            text-align: center;
            background-size: cover;
            background-color: #FFF;
            background-position: center;
            display: flex;
            justify-content: center;
        }

        &__info {
            // position: absolute;
            // bottom: -120px;
            // left: 260px;
            padding-left: 260px;
            margin-top: 20px;
            display: flex;

            &__entry {
                min-width: 200px;
                padding: 0 10px;
                h3 {
                    margin-top: 20px !important;
                }
            }

        }
    }


    &__dashboard {
        width: 100%;
        /* background: rgba(red, .5); */
        float: left;
        padding: 10px 20px;
        @include media($size-mobile) {
            width: 75%;
        }
    }

    &__qofd {
        height: 200px;
        margin-bottom: 20px;
        h3 {
            padding-top: 0;
        }
    }

    &__profilepic {
        border-radius: 10px;
        max-width: 220px;
        max-height: 220px;
        width: 100%;
    }

    &__details {
        /* margin: 0; */
        /* padding: 0 4px; */
        padding-left: 10px;
        list-style: none;
        li:before{ content:"-"; position:relative; left:-5px;}
        li{ text-indent:-5px; }
    }

    &__createquiz {
        float: right;
        background: $brand-color-red;
        border-radius: 5px;
        color: #FFF;
        display: block;
        padding: 5px;
        box-shadow: 2px 2px 3px rgba(#000, .2);
    }


    &__quizlist {
        color: #444;
        border: 1px solid #CCC;
        border-radius: 5px;
        /* padding: 4px 0; */
        list-style: none;
        padding: 0;
        margin: 0;
        ul {
        }

        a {
            color: $brand-color-blue;
            text-decoration: none;
            &:hover {
                .cq-dashboard__quizname {
                    text-decoration: underline;
                }

            }
        }

    }

    &__quiz {
        border-bottom: 1px solid #CCC;
        padding: 10px;
        padding-left: 40px;
        h1, h2, h3, h4, h5, h6 { margin: 0; }

        &:last-child {
            border-bottom: 0;
        }

    }

    &__quizname {
        position: relative;
        color: $brand-color-red;


        .cq-icon {
            position: absolute;
            left: -25px;
            top: 2px;
            /* color: $brand-color-red; */

        }
    }

    &__quizdown {
        padding-top: 5px;
        font-size: 12px;
        color: #444;
        text-decoration: none;
        .cq-icon {
            margin: 0 4px 0 2px;
        }
        /* color: $brand-color-blue; */
    }

    &__empty {
        text-align: center;
        padding: 20px;
        background: rgba(#000, .1);
        color: rgba(#000, .8);
        /* color: $brand-color-blue; */
    }



    .created,
    .updated {
        padding-right:10px;
    }
}

.cq-label {
    /* background-color: lighten($brand-color-red, 20%); */
    /* padding: 5px; */
    /* font-size: 12px; */
    /* border-radius: 8px; */
    /* color: #FFF; */

}
