@import './../../../../shared/scss/layout';
@import './../../../../shared/scss/variables';
@import './../../../../shared/scss/mixins';


body {
    background: #FFF;
}

.ql-container {
    @include ql-container;
}

.cq-dashboard {
    @include ql-container;
    @include clearfix;


    @at-root #{&}__profile {
        width: 100%;
        float: left;
        /* background: rgba(green, .5); */
        padding: 10px;
        @include media($size-mobile) {
            width: 25%;
        }
    }

    @at-root #{&}__dashboard {
        width: 100%;
        /* background: rgba(red, .5); */
        float: left;
        padding: 10px 20px;
        @include media($size-mobile) {
            width: 75%;
        }
    }

    @at-root #{&}__qofd {
        height: 200px;
        margin-bottom: 20px;
        h3 {
            padding-top: 0;
        }
    }

    @at-root #{&}__profilepic {
        border-radius: 10px;
        max-width: 220px;
        max-height: 220px;
        width: 100%;
    }

    @at-root #{&}__details {
        /* margin: 0; */
        /* padding: 0 4px; */
        padding-left: 10px;
        list-style: none;
        li:before{ content:"-"; position:relative; left:-5px;}
        li{ text-indent:-5px; }
    }

    @at-root #{&}__createquiz {
        float: right;
        background: $brand-color-red;
        border-radius: 5px;
        color: #FFF;
        display: block;
        padding: 5px;
        box-shadow: 2px 2px 3px rgba(#000, .2);
    }


    @at-root #{&}__quizlist {
        color: #444;
        border: 1px solid #CCC;
        border-radius: 5px;
        /* padding: 4px 0; */
        list-style: none;
        padding: 0;
        margin: 0;
        ul {
        }

        a {
            color: $brand-color-blue;
            text-decoration: none;
            &:hover {
                .cq-dashboard__quizname {
                    text-decoration: underline;
                }

            }
        }

    }

    @at-root #{&}__quiz {
        border-bottom: 1px solid #CCC;
        padding: 10px;
        padding-left: 40px;
        h1, h2, h3, h4, h5, h6 { margin: 0; }

        &:last-child {
            border-bottom: 0;
        }

    }

    @at-root #{&}__quizname {
        position: relative;
        color: $brand-color-red;


        .cq-icon {
            position: absolute;
            left: -25px;
            top: 2px;
            /* color: $brand-color-red; */

        }
    }

    @at-root #{&}__quizdown {
        padding-top: 5px;
        font-size: 12px;
        color: #444;
        text-decoration: none;
        .cq-icon {
            margin: 0 4px 0 2px;
        }
        /* color: $brand-color-blue; */
    }

    @at-root #{&}__empty {
        text-align: center;
        padding: 20px;
        background: rgba(#000, .1);
        color: rgba(#000, .8);
        /* color: $brand-color-blue; */
    }



    .created,
    .updated {
        padding-right:10px;
    }
}

.cq-label {
    /* background-color: lighten($brand-color-red, 20%); */
    /* padding: 5px; */
    /* font-size: 12px; */
    /* border-radius: 8px; */
    /* color: #FFF; */

}
