.cq-profile {
    margin-top: 40px;
    min-height: 900px;
    position: relative;
    padding: 0;
    @include clearfix();

    &__left {
        width: 100%;
        padding: 0 10px;
        @include media($size-mobile) {
            position: absolute;
            left: 0;
            width: 210px;
            float: left;
            display: block;
        }
    }


    &__right {
        width: 100%;
        padding: 40px;
        // padding-left: 20px;
        h3 {
            padding-top: 15px;
        }
        @include media($size-mobile) {
            width: auto;
            margin-left: 220px;
        }
    }

    &__banner {
        @include media($size-mobile) {
            width: 10px;
            margin-bottom: 10px;
        }
    }

    h3 {
        margin-top: 0;
    }
}
