.container
    .row
        .col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
            .well
                h1#title {{account.title}}

                form.form-horizontal(role="form")
                    .form-group
                        .col-sm-3
                            label.control-label.col-sm-3 Password                              
                        .col-sm-9
                            input.form-control#password(type="password", on-enter="account.submitForm();",ng-model="account.password")
                            br
                        .col-sm-12
                            center
                                button.btn.btn-primary.btn-block(ng-click="account.submitForm();", ng-disabled="account.checkCanSubmit() || account.completing")#LoginButton
                                    span Submit
