.container
    h2 Your Assigned Quizzes
    p Here are the quizzes that each of your class can play
    .row
        .col-sm-12
            .row
                .row.well(ng-repeat="class in quizzes.classList track by $index", style="padding-bottom: 10px")  
                    .col-xs-12                  
                        h3 {{class.name}}
                            a.btn.btn-info.pull-right(ng-href="{{class.link}}", target=_blank, style="padding: 10px") Open {{class.name}} Dashboard
                        p(style="color: #2a7ed0; font-size: 16px")
                                Your Class Code: {{class.code}} 

                        br
                        .row(ng-show="!quizzes.groupContents[class.code] || quizzes.groupContents[class.code].contents.length==0")
                            .col-xs-12
                                p You don't have any quizzes assigned to this class.
                        .row(ng-repeat="content in quizzes.groupContents[class.code].contents track by $index", style="padding-bottom: 10px")
                            .col-xs-5
                                h4 {{quizzes.pastQuizzes[content.contentId].name}}
                            .col-xs-5
                                h4 {{quizzes.pastQuizzes[content.contentId].category}}
                            .col-xs-2                    
                                button.btn.btn-danger(ng-click="quizzes.unpublishQuiz(content.contentId,class.code);") Unassign
