style.
    .congratulations-text {
        line-height: 1.5;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 32px;
        color: white    ;
        text-shadow: 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black;
        margin: 40px auto;
    }
    .score-title {
        font-size: 16px;
        font-weight: 700;
    }
    .score-value {
        font-size: 32px;
        font-weight: 700;
        height: 120px;
        width: 120px;
        border: 1px solid rgba(255,255,255,.5);
        border-radius: 100px;
        padding-top: 30px;
        text-align: center;
        margin: 0 auto;
    }
    .score-points {
        text-transform: uppercase;
        font-size: 8px;
        font-weight: 300;
        display: block;
    }
    .rag1 {
        border-color: red;
    }
    .rag2 {
        border-color: orange;
    }
    .rag3 {
        border-color: green;

    }
    .rag4 {
        border-color: blue;
    }

    .complete-info-wrap {
        border-radius: 4px;
    }

    .complete-info {
        margin-bottom: 20px;
    }
    .complete-info span {
        color: rgba(0,0,0,.5);
        margin-right: 10px;
    }

    .score-fraction {
        font-size: 18px;
        font-weight: 700;
        display: block;
        margin: 0 auto;
        line-height: 120px;
        width: 120px;
        text-align: center;
    }
    .score-fraction div {
        line-height: 1.5;
        display: block;
    }
    .fraction-bottom {
        border-top: 2px solid black;
        width: 50%;
        max-width: 60px;
        margin: 0 auto;
    }
    .complete-main-text {
      font-size: 28px;
      text-align: left;
    }
    .complete-main-text span {
      font-weight: 700;
    }

    .span-g {
      color: lime;
    }
    .span-r {
      color: orange;
    }
    .score-time {
        padding-top: 18px;
        font-size: 18px;
        text-align: center;
    }
    .bar-item-container {
      text-align: left;
      margin-bottom: 1px;
      width: 100%;
      float: left;
      position: relative;
      background-color: rgba(0,0,0,.2);
      border-radius: 0;
    }

    .bar-topic-title {
      font-size: 18px;
      line-height: 40px;
      z-index: 2;
      position: relative;
      height: 40px;
      padding-left: 10px;
    }
    .bar-topic-percent {
        float: right;
        line-height: 40px;
        padding-right: 10px;
        z-index: 2;
        position: relative;
    }

    .bar-block {
      height: 40px;
      text-align: right;
      line-height: 20px;
      padding: 10px;
      margin-bottom: 5px;
      position: absolute;
      top: 0;
      z-index: 1;
    }
    .bar-block-g {
      background: linear-gradient(90deg, lime, green);
      opacity: 0.8;
    }
    .bar-block-a {
      background: linear-gradient(90deg, orange, brown);
      opacity: 0.8;
    }
    .bar-block-r {
      background: linear-gradient(90deg, red, crimson);
      opacity: 0.8;
    }
    .bar-block-b {
      background: linear-gradient(90deg, blue, navy);
      opacity: 0.8;
    }
    .bar-block-c {
      line-height: 0;
      height: 10px;
      background: grey;
      font-size: 8px;
      opacity: 0.8;
    }
    .bar-wrapper {
      
      border: 1px solid rgba(255,255,255,.25);
      border-radius: 8px;
      padding: 10px;
      overflow: hidden;
      margin-bottom: 20px;
      color: white;
    }
    .well--complete {
      overflow: hidden;
    }
    .ng-hide-add, .ng-hide-remove {
       /* ensure visibility during the transition */
        display: block !important; /* yes, important */
    }
    .cssFade {
        transition: 0.5s linear all;
        opacity: 1;
    }
    .cssFade.ng-hide {
        opacity: 0;
    }
    .share-cta,
    .share-score {
        text-align: center;
    }
    .share {
        display: inline-block;
        margin: 5px;
        background: #2e60ff;
        color: #FFF;
        width: 50px;
        height: 50px;
        font-size: 30px;
        border-radius: 100%;
        line-height: 50px;
    }
    .share:hover,
    .share:focus {
        opacity: 0.5;
        color: #FFF;
    }
    .share-fb {
        background: #3b5998;
    }
    .share-tw {
        background: #00aced;
    }

.container
    .wrapper-complete
        .row(ng-hide="quiz.teacherMode || quiz.demoMode")
            .col-md-8.col-md-offset-2
                a.btn.btn-block.btn-info.btn-sm(ng-click="quiz.home()") Home 
        .row(ng-show="quiz.teacherMode")
            .col-md-8.col-md-offset-2
                a.btn.btn-block.btn-info.btn-sm(ng-href="/quiz/published/{{quiz.data.quizId}}") Set this Quiz for your class
                br
                a.btn.btn-block.btn-info.btn-sm(href="/quiz/public") Choose Another
                

        .row.inverse-text
            .col-xs-12.text-center
                h2.congratulations-text 
                    |Congratulations 
                    br
                    p(ng-show="quiz.studentData") {{quiz.studentData.studentCode}}
          .well.well--complete.col-md-8.col-md-offset-2
            div(ng-hide="quiz.hasTopics")
              .col-sm-4
                  .complete-info
                      .score-value.rag2
                          {{quiz.totals.score}} 
                          .score-points Points
                  
              .col-sm-4
                  br
                  br
                  .complete-info
                      .score-fraction
                          .fraction-top {{quiz.data.correct}}
                          .fraction-bottom {{quiz.data.questionCount}} 
              .col-sm-4
                  br
                  br
                  .complete-info
                      .score-time
                          span.glyphicon.glyphicon-time 
                          {{quiz.totals.seconds}} Seconds

            div(ng-show="quiz.hasTopics")
              .col-sm-12
                  .complete-info.col-sm-4
                      .score-value.rag2
                          {{quiz.totals.score}} 
                          .score-points Points
                     
                              
                  .complete-info.col-sm-4
                      .score-fraction
                          .fraction-top {{quiz.data.correct}}
                          .fraction-bottom {{quiz.data.questionCount}} 
                  .complete-info.col-sm-4
                      .score-time
                          span.glyphicon.glyphicon-time 
                          {{quiz.totals.seconds}} Seconds
              .col-sm-12
                 
                 
                  .bar-wrapper
                    .bar-item-container(ng-repeat="topic in quiz.topics")
                      .bar-topic-percent {{topic.stats.percentage | number: 0}}%
                      .bar-topic-title {{topic.name}}
                      .bar-block(ng-style="{width: topic.stats.percentage+'%'}",class="bar-block-{{topic.stats.state}}") 
                  .complte-main-text
              .col-sm-12
                  #reactContainer
                  .share-container(ng-if="quiz.isFeatured")
                      h2.share-score Share your score with your friends!
                      .share-cta
                        a.share.share-fb(href="{{quiz.facebookLink}}",target="_blank")
                            .fa.fa-lg.fa-facebook
                        a.share.share-tw(ng-href="{{quiz.twitterLink}}",target="_blank")
                            .fa.fa-lg.fa-twitter
        .row(ng-repeat="item in quiz.data.report",class="cssFade ng-scope ng-hide",ng-show="quiz.QLQuestion")
            .col-md-8.col-md-offset-2
                .well
                    .row
                        .col-md-4
                            h4.wrapword
                              strong(id="quizQuestion{{item.questionId}}") {{item.question.text}}
                        .col-md-3.wrapword
                            h4 Your answer
                            strong(id="response{{item.questionId}}", ng-class="{'text-success': item.correct, 'text-danger': !item.correct}") {{item.response}}
                        .col-md-3.wrapword(ng-show="quiz.currentQuiz.meta.showAnswers === undefined || quiz.currentQuiz.meta.showAnswers == 1")
                            h4 Correct answer&nbsp;
                            strong(id="cresponse{{item.questionId}}") {{item.answer}}
                        .col-md-3.wrapword(ng-show="quiz.currentQuiz.meta.showAnswers !== undefined && quiz.currentQuiz.meta.showAnswers == 0")
                        .col-md-2
                            h4 Score: {{item.roundedScore}}
                            p(ng-show="item.correct") ({{item.seconds}}
                                ng-pluralize(count="item.seconds", when="{1: ' second', other: ' seconds'}")
                                |)
                            p(ng-show="item.attempts >1") ({{item.attempts}} attempts)
