style.
    .congratulations-text {
        line-height: 1.5;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 32px;
        color: white    ;
        text-shadow: 1px 1px black, 2px 2px black, 3px 3px black, 4px 4px black;
        margin: 40px auto;
    }
    .score-title {
        font-size: 16px;
        font-weight: 700;
    }
    .score-value {
        font-size: 32px;
        font-weight: 700;
        height: 120px;
        width: 120px;
        border: 1px solid rgba(255,255,255,.5);
        border-radius: 100px;
        padding-top: 36px;
        margin: 0 auto;
    }
    .score-points {
        text-transform: uppercase;
        font-size: 8px;
        font-weight: 300;
        display: block;
    }
    .rag1 {
        border-color: red;
    }
    .rag2 {
        border-color: orange;
    }
    .rag3 {
        border-color: green;

    }
    .rag4 {
        border-color: blue;
    }

    .complete-info-wrap {
        color: white;;
        text-align: center;
        border-radius: 4px;
    }

    .complete-info {
        text-align: center;
        margin-bottom: 40px;
    }
    .complete-info span {
        color: rgba(255,255,255,.5);
        margin-right: 10px;
    }

    .score-fraction {
        font-size: 18px;
        font-weight: 700;
        display: inline-block;
        line-height: 120px;
        width: 100%;
    }
    .score-fraction div {
        line-height: 1.5;
        display: block;
    }
    .fraction-bottom {
        border-top: 2px solid white;
        width: 50%;
        max-width: 60px;
        margin: 0 auto;
    }
    .graph {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        display: block;
    }
    .wrapper-complete {
        background: #222;
        border: 1px solid black;
        padding: 20px;
        border-radius: 20px;
    }
    .score-time {
        padding-top: 18px;
        font-size: 18px;
    }
    .bar-item-container {
      text-align: left;
      margin-bottom: 20px;
      width: 100%;
      float: left;
    }

    .bar-topic-title {
      font-size: 18px;
    }

    .bar-block {
      height: 40px;
      border-radius: 4px;
    }
    .bar-block-g {
      background: linear-gradient(90deg, lime, green);
    }
    .bar-block-a {
      background: linear-gradient(90deg, orange, brown);
    }
    .bar-block-r {
      background: linear-gradient(90deg, red, crimson);
    }

.container
    .wrapper-complete
        .row
            .col-xs-8.col-xs-offset-2
                a.btn.btn-block.btn-info.btn-sm(href="#/list") Home
        .row.inverse-text
            .col-xs-12.text-center
                h2.congratulations-text 
                    |Congratulations 
                    br
                    p(ng-show="quiz.studentData") {{quiz.studentData.studentCode}}
        .row.inverse-text.complete-info-wrap
            .col-xs-6
                .complete-info
                    .score-value.rag2
                        {{quiz.totals.score}} 
                        .score-points Points
                .complete-info
                    .score-fraction
                        .fraction-top {{quiz.data.correct}}
                        .fraction-bottom {{quiz.data.questionCount}} 
                .complete-info
                    .score-time
                        span.glyphicon.glyphicon-time 
                        {{quiz.totals.seconds}} Seconds
            .col-sm-6
                .bar-item-container(ng-repeat="topic in quiz.topics")
                  .bar-topic-title {{topic.name}}
                  .bar-block(style="width: {{topic.stats.percentage}}%",class="bar-block-{{topic.stats.state}}")
                .complte-main-text
                

        .row(ng-repeat="item in quiz.data.report")
            .col-xs-8.col-xs-offset-2
                .well
                    .row
                        .col-md-4
                            h4 
                                strong {{item.question}}
                        .col-md-3
                            h4 Your answer
                            strong(ng-class="{'text-success': item.correct, 'text-danger': !item.correct}") {{item.response}}
                        .col-md-3
                            h4 Correct answer&nbsp;
                            strong {{item.answer}}
                        .col-md-2
                            h4 Score: {{item.roundedScore}}
                            p(ng-show="item.correct") (You took {{item.seconds}}
                                ng-pluralize(count="item.seconds", when="{1: ' second', other: ' seconds'}")
                                |)



