.container
    .row
        .col-xs-12.col-lg-8.col-lg-offset-2
            .well
                p.small Hit enter to go to the answer, then again to save the question

                p#enterHint.text-info(style="display: none;") You can just use the enter key both to enter a question and then, having entered an answer, to save the entire quiz question.

                form.form-horizontal(role="form")
                    input.form-control#questionId(type="hidden",value="")
                    .form-group
                        label.col-sm-3.control-label Topic
                        .col-sm-9
                            input.form-control#topic(type="text", on-enter="create.focusQuestion();", placeholder="e.g. Capital Cities", autofocus="true", tabindex="1" )
                    .form-group
                        label.col-sm-3.control-label Question
                        .col-sm-9
                            input.form-control#question(type="text", on-enter="create.focusAnswer();", placeholder="e.g. What is the capital of France", autofocus="true", tabindex="1" )
                    .form-group
                        label.col-sm-3.control-label Answer
                        .col-sm-4
                            input.form-control#answer(type="text", on-enter="create.nextFromAnswer();", placeholder="e.g. Paris", ng-model="create.answerText", ng-class="{invalidAnswer: (create.answerText.length > 16)}", tabindex="1" )
                        .col-sm-1
                            h4 {{16 - create.answerText.length}}
                        .col-sm-4
                            button.pull-right.btn(ng-class="{'btn-info':create.distractorsActive, 'btn-info': !create.distractorsActive}", ng-click="create.distractorsActive = !create.distractorsActive;", tabindex="6" )
                                span.glyphicon.glyphicon-resize-full(ng-hide="create.distractorsActive")
                                span.glyphicon.glyphicon-resize-small(ng-show="create.distractorsActive")
                    .form-group(ng-show="create.distractorsActive")
                        label.col-sm-3.control-label Incorrect Answers
                        .col-sm-3
                            input.form-control#alt1(type="text", placeholder="Incorrect Answer", ng-model="create.alt1", on-enter="create.focusAlt(2);", ng-class="{invalidAnswer: (create.alt1.length > 16)}", tabindex="2" )
                        .col-sm-3
                            input.form-control#alt2(type="text", placeholder="Incorrect Answer", ng-model="create.alt2", on-enter="create.focusAlt(3);", ng-class="{invalidAnswer: (create.alt2.length > 16)}", , tabindex="3" )
                        .col-sm-3
                            input.form-control#alt3(type="text", placeholder="Incorrect Answer", ng-model="create.alt3", on-enter="create.addQuestion();", ng-class="{invalidAnswer: (create.alt3.length > 16)}", , tabindex="4" )
                    .form-group
                        .col-sm-6.col-sm-offset-3
                            br.visible-xs
                            button.btn.btn-primary.btn-block(ng-click="create.showEnterHint(); create.addQuestion();", tabindex="5" ) Save question



    .row
        .col-xs-12.col-lg-8.col-lg-offset-2
            .row
                .col-sm-7
                    h2 Your Quiz
                        .small(style='color: #666') ({{create.quiz.questions.length}} questions)
                    br
                .col-sm-5(style="margin-top:21px")
                    button.btn.btn-block.btn-primary(ng-click="create.finished()",ng-hide="create.quiz.questions.length==0") I'm Finished, let's play!&nbsp;
                    br.visible-xs

    .row
        .col-xs-12.col-lg-8.col-lg-offset-2
            .well#questionsAnd(ng-show="create.quiz.questions.length")
                .row(ng-repeat="item in create.quiz.questions", style="padding: 10px;")
                    .col-sm-5
                        h4 {{$index + 1}}. {{item.question}}
                    .col-sm-3
                        h4.text-info {{item.answer}}
                    .col-sm-2.col-xs-6
                        button.btn.btn-info.btn-block(ng-click="create.editQuestion($index);")
                            span.glyphicon.glyphicon-pencil
                    .col-sm-2.col-xs-6
                        button.btn.btn-danger.btn-block(ng-click="create.remove($index);")
                            span.glyphicon.glyphicon-remove
        .col-xs-12.col-lg-8.col-lg-offset-2(ng-hide="create.quiz.questions.length")
            .well
                h4 Enter a question and answer above to start building your quiz.






