style. 
  label .glyphicon {
    color: rgba(0,0,0,.5);
    font-size: 12px;
    padding: 6px;
    cursor: pointer;
  }
  label .glyphicon:hover {
    color: black;
  }

  a.glyphicon:hover, a.glyphicon:focus {
    border: none;
    text-decoration: none; 
  }
  .popover {
  }

.container
    .row
        .col-xs-12.col-lg-8.col-lg-offset-2
            .well
                h1.pull-right Quiz: {{create.currentQuiz}}
                h2 {{create.mode}} question {{create.currentQuestion}}
                
                p.small Speed Tip: We found clicking is a pain - just hit enter to step through quickly
                
                form.form-horizontal(role="form")
                    input.form-control#questionId(type="hidden",value="")                    
                    .form-group 
                        label.col-sm-3.control-label 
                          | Question 
                          a.glyphicon.glyphicon-question-sign(data-toggle="popover" title="Question" data-content="The title of your question. E.g. “What is the capital of France?”." data-trigger="focus" data-placement="auto left" data-container="body" role="button" tabindex="8")
                        .col-sm-8
                            input.form-control#question(type="text", on-enter="create.focusAnswer();", placeholder="e.g. What is the capital of France", autofocus="true", tabindex="1" )
                    .form-group
                        label.col-sm-3.control-label 
                          | Correct Answer 
                          a.glyphicon.glyphicon-question-sign(data-toggle="popover" title="Correct Answer" data-content="The answer to the above question. E.g. “Paris”." data-trigger="focus" data-placement="auto left" data-container="body" role="button" tabindex="9")
                        .col-sm-8
                            input.form-control#answer(type="text", on-enter="create.nextFromAnswer();", placeholder="e.g. Paris", ng-model="create.answerText" tabindex="2" )
                    .form-group
                        label.col-sm-3.control-label 
                            | Incorrect Answers
                            a.glyphicon.glyphicon-question-sign(data-toggle="popover" title="Incorrect Answers (Optional)" data-content="Enter incorrect answers if you want to create a multiple choice question." data-trigger="focus" data-placement="auto left" data-container="body" role="button" tabindex="10")

                        .col-sm-3
                            input.form-control#alt1(type="text", placeholder="e.g. London", ng-model="create.alt1", on-enter="create.focusAlt(2);", tabindex="3" )
                        .col-sm-3
                            input.form-control#alt2(type="text", placeholder="e.g. Toronto", ng-model="create.alt2", on-enter="create.focusAlt(3);", tabindex="4" )
                        .col-sm-3
                            input.form-control#alt3(type="text", placeholder="e.g. Berlin", ng-model="create.alt3", on-enter="create.focusTopic();", tabindex="5" )
                    .form-group
                        label.col-sm-3.control-label
                          | Subtopic 
                          a.glyphicon.glyphicon-question-sign(data-toggle="popover" title="Subtopic (Optional)" data-content="A subtopic is used to group similar questions together. E.g. “European Capital Cities”." data-trigger="focus" data-placement="auto left" data-container="body" role="button" tabindex="11")
                        .col-sm-9
                            input.form-control#topic(type="text", on-enter="create.addQuestion();", placeholder="e.g. European Capital Cities", autofocus="true", tabindex="6" )
                    .form-group
                        .col-sm-6.col-sm-offset-3
                            br.visible-xs
                            button.btn.btn-primary.btn-block(ng-click="create.addQuestion();", tabindex="7" ) Save - Continue to Next Question



    .row
        .col-xs-12.col-lg-8.col-lg-offset-2
            .row
                .col-sm-7
                    h2 Your Questions
                        .small(style='color: #666') ({{create.quiz.questions.length}} questions)
                    br
                .col-sm-5(style="margin-top:21px")
                    button.btn.btn-block.btn-primary(ng-click="create.finished()",ng-hide="create.quiz.questions.length==0") I'm Finished, let's play!&nbsp;
                    br.visible-xs

    .row
        .col-xs-12.col-lg-8.col-lg-offset-2
            .well#questionsAnd(ng-show="create.quiz.questions.length")
                .row(ng-repeat="item in create.quiz.questions track by $index", style="padding: 10px;")
                    .col-sm-5
                        h4 {{$index + 1}}. {{item.question}}
                    .col-sm-3
                        h4.text-info {{item.answer}}
                    .col-sm-2.col-xs-6
                        button.btn.btn-info.btn-block(ng-click="create.editQuestion($index);")
                            span.glyphicon.glyphicon-pencil
                    .col-sm-2.col-xs-6
                        button.btn.btn-danger.btn-block(ng-click="create.remove($index);")
                            span.glyphicon.glyphicon-remove
        .col-xs-12.col-lg-8.col-lg-offset-2(ng-hide="create.quiz.questions.length")
            .well
                h4 Your questions will appear here..





script. 
  $(document).ready(function() {
    $(".glyphicon").hover(function () {
        $('[data-toggle="popover"]').popover()
    });
  });

