.container
    .row.well
        .col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
            .well
                h2 Create a Quiz

                form.form-horizontal(role="form")
                    .form-group
                        label.control-label.col-sm-3                               
                            | Subject:    
                            a.left-space.glyphicon.glyphicon-question-sign(data-toggle="popover" title="Quiz Topic" data-content="You can provide an optional subject to help organize your quizzes into different subject areas. This is optional." data-trigger="focus" data-placement="auto left" data-container="body" role="button" tabindex="5")                        
                        .col-sm-9
                            input.form-control#subject(type="text", on-enter="ctrl.focusTopic();",ng-model="ctrl.quiz.subject", placeholder="e.g. Geography (Optional)", tabindex="1")
                            br
                        label.control-label.col-sm-3                               
                            | Unit/Topic:    
                            a.left-space.glyphicon.glyphicon-question-sign(data-toggle="popover" title="Quiz Topic" data-content="You can provide an optional topic to help organize your quizzes into different topic areas. This is optional." data-trigger="focus" data-placement="auto left" data-container="body" role="button" tabindex="6")                        
                        .col-sm-9
                            input.form-control#category(type="text", on-enter="ctrl.focusQuiz();",ng-model="ctrl.quiz.category", placeholder="e.g. Earthquakes (Optional)", tabindex="2")
                            br
                        label.col-sm-3.control-label
                            | Quiz Title:
                            a.left-space.glyphicon.glyphicon-question-sign(data-toggle="popover" title="Quiz Title" data-content="Give your quiz a unique name so you can easily identify it." data-trigger="focus" data-placement="auto left" data-container="body" role="button" tabindex="7")
                        .col-sm-9
                            input.form-control#question(type="text", on-enter="ctrl.createQuiz();", ng-model="ctrl.quiz.name", placeholder="e.g. Plate Boundaries", autofocus="true",tabindex="3")
                            br
                        .col-sm-4.col-sm-offset-4
                            button.btn.btn-block(ng-click="ctrl.showSettings=!ctrl.showSettings", ng-class="{true: 'btn-info', false: ''}[ctrl.showSettings]") More Settings
                        .col-sm-4
                            br.visible-xs
                            button.btn.btn-primary.btn-block(ng-click="ctrl.createQuiz();", tabindex="4", ng-disabled="ctrl.quiz.name==''" ) Save



    include qsettings

script. 
  $(document).ready(function() {
    $(".glyphicon").hover(function () {
        $('[data-toggle="popover"]').popover()
    });
  });