.container
    .row.well
        .col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
            .well
                h2 Create a Quiz

                form.form-horizontal(role="form")
                    .form-group
                        label.control-label.col-sm-3                               
                            | Subject:    
                            a.glyphicon.glyphicon-question-sign(data-toggle="popover" title="Quiz Topic" data-content="You can provide an optional subject to help organize your quizzes into different subject areas. This is optional." data-trigger="focus" data-placement="auto left" data-container="body" role="button" tabindex="1")                        
                        .col-sm-9
                            input.form-control#subject(type="text", on-enter="createq.focusTopic();",ng-model="createq.quizSubject", placeholder="e.g. Geography (Optional)")
                            br
                        label.control-label.col-sm-3                               
                            | Unit/Topic:    
                            a.glyphicon.glyphicon-question-sign(data-toggle="popover" title="Quiz Topic" data-content="You can provide an optional topic to help organize your quizzes into different topic areas. This is optional." data-trigger="focus" data-placement="auto left" data-container="body" role="button" tabindex="1")                        
                        .col-sm-9
                            input.form-control#category(type="text", on-enter="createq.focusQuiz();",ng-model="createq.newQuizCategory", placeholder="e.g. Earthquakes (Optional)")
                            br
                        label.col-sm-3.control-label
                            | Quiz Title:
                            a.glyphicon.glyphicon-question-sign(data-toggle="popover" title="Quiz Title" data-content="Give your quiz a unique name so you can easily identify it." data-trigger="focus" data-placement="auto left" data-container="body" role="button" tabindex="0")
                        .col-sm-9
                            input.form-control#question(type="text", on-enter="createq.createQuiz();", ng-model="createq.newQuizName", placeholder="e.g. Plate Boundaries", autofocus="true")
                            br
                        .col-sm-4.col-sm-offset-4
                            br.visible-xs
                            button.btn.btn-primary.btn-block(ng-click="createq.createQuiz();", tabindex="7" ) Create Quiz
                        .col-sm-4
                            button.btn.btn-block(ng-click="createq.showSettings=!createq.showSettings", ng-class="{true: 'btn-info', false: ''}[createq.showSettings]") More Settings

    .modal.fade#myModal(role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
                    h4.modal-title More Settings
                .modal-body(ng-show="createq.showSettings")
                    label.control-label.col-sm-9
                        | Number of questions in quiz
                        a.glyphicon.glyphicon-question-sign(data-toggle="popover" title="Number of Questions in Quiz" data-content="You may want to create a pool of 50 questions and only ask 10 questions per quiz" data-trigger="focus" data-placement="auto left" data-container="body" role="button" tabindex="0")
                    .col-xs-3
                        select(ng-model="createq.numQuestionsInQuiz")
                            option(value="-1") All
                            option(value="10") 10
                    label.control-label.col-sm-9
                        | Randomize Order of Questions
                        a.glyphicon.glyphicon-question-sign(data-toggle="popover" title="Randomize Order of Questions" data-content="You can choose to randomize the order of the questions every time someone plays the quiz" data-trigger="focus" data-placement="auto left" data-container="body" role="button" tabindex="0")
                    .col-xs-3
                        label(class="switch")
                            input(type="checkbox",class="switch-input", ng-model="create.latexEnabled", ng-change="create.enableLatex()")
                            span(class="switch-label",data-on="Yes",data-off="No")
                            span(class="switch-handle")   
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Close
                    button.btn.btn-primary(type='button') Save changes



    .row.well(ng-show="createq.showSettings")
        h2 More Settings
        .well            
            label.control-label.col-sm-9
                | Number of questions in quiz
                a.glyphicon.glyphicon-question-sign(data-toggle="popover" title="Number of Questions in Quiz" data-content="You may want to create a pool of 50 questions and only ask 10 questions per quiz" data-trigger="focus" data-placement="auto left" data-container="body" role="button" tabindex="0")
            .col-xs-3
                select(ng-model="createq.numQuestionsInQuiz")
                    option(value="-1") All
                    option(value="10") 10
            label.control-label.col-sm-9
                | Randomize Order of Questions
                a.glyphicon.glyphicon-question-sign(data-toggle="popover" title="Randomize Order of Questions" data-content="You can choose to randomize the order of the questions every time someone plays the quiz" data-trigger="focus" data-placement="auto left" data-container="body" role="button" tabindex="0")
            .col-xs-3
                label(class="switch")
                    input(type="checkbox",class="switch-input", ng-model="create.latexEnabled", ng-change="create.enableLatex()")
                    span(class="switch-label",data-on="Yes",data-off="No")
                    span(class="switch-handle")    


script. 
  $(document).ready(function() {
    $(".glyphicon").hover(function () {
        $('[data-toggle="popover"]').popover()
    });
  });