style. 
  label .glyphicon {
    color: rgba(0,0,0,.5);
    font-size: 12px;
    padding: 6px;
    cursor: pointer;
  }
  label .glyphicon:hover {
    color: black;
  }

  a.glyphicon:hover, a.glyphicon:focus {
    border: none;
    text-decoration: none; 
  }
  .popover {
  }

  .imgLink{ cursor: pointer; cursor: hand; }


.container
    .row
        .col-xs-12            
            .well
                h3 {{create.mode}}  
                    span(style="color: red") Question {{create.currentQuestion}} 
                    | for {{create.currentQuiz}}
                    span.pull-right
                        .row
                            .col-sm-9.setting
                                p Math Mode
                                    a.glyphicon.glyphicon-question-sign.left-space(data-toggle="popover" title="Math Mode" data-content="Use maths mode to enter equations in questions and answers. Learn more" data-trigger="focus" data-placement="auto left" data-container="body" role="button" tabindex="1",)                        

                            .col-sm-3
                                label(class="switch")
                                    input(type="checkbox",class="switch-input", ng-model="create.quiz.latexEnabled", ng-change="create.toggleLatex()")
                                    span(class="switch-label",data-on="Yes",data-off="No")
                                    span(class="switch-handle")    
                            .col-sm-9.setting
                                p Use Images
                                    a.glyphicon.glyphicon-question-sign.left-space(data-toggle="popover" title="Use Images" data-content="Make your questions more engaging using images. Learn more" data-trigger="focus" data-placement="auto left" data-container="body" role="button" tabindex="1")                        

                            .col-sm-3
                                label(class="switch")
                                    input(type="checkbox",class="switch-input", ng-model="create.quiz.imageEnabled", ng-change="create.toggleImage()")
                                    span(class="switch-label",data-on="Yes",data-off="No")
                                    span(class="switch-handle")    

                
                p.small Speed Tip: We found clicking is a pain - just hit enter to step through quickly
                
                form.form-horizontal(role="form")
                    input.form-control#questionId(type="hidden",value="")                    
                    .form-group(ng-show="create.quiz.imageEnabled")
                        label.col-sm-3.control-label
                          | Image Link
                          a.glyphicon.glyphicon-question-sign(data-toggle="popover" title="Image Link" data-content="Provide an optional link to an image you would like to display." data-trigger="focus" data-placement="auto left" data-container="body" role="button" tabindex="8")                          
                        .col-sm-8
                            input.form-control#imageUrl(on-enter="create.focusQuestion();", placeholder="e.g. http://www.quizalize.com/graph.png", autofocus="true", tabindex="1",ng-model="create.imageURL")     
                    .form-group                                                    
                        label.col-sm-3.control-label
                          | Question 
                          a.glyphicon.glyphicon-question-sign(data-toggle="popover" title="Question" data-content="The title of your question. E.g. “What is the capital of France?”." data-trigger="focus" data-placement="auto left" data-container="body" role="button" tabindex="8")                          
                        div(ng-class="{true: 'col-sm-8', false: 'col-sm-5'}[!create.quiz.latexEnabled]")
                            textarea.autogrow-short.form-control#question(on-enter="create.focusAnswer();", placeholder="e.g. What is the capital of France", autofocus="true", tabindex="1",rows="1",cols="40", ng-model="create.question")
                            script $('#question').css('overflow', 'hidden').autogrow()                                                        
                        .col-xs-4(ng-show="create.quiz.latexEnabled")
                            span(mathjax-bind="create.question")#questionMath
                    .form-group
                        label.col-sm-3.control-label 
                          | Correct Answer 
                          a.glyphicon.glyphicon-question-sign(data-toggle="popover" title="Correct Answer" data-content="The answer to the above question. E.g. “Paris”." data-trigger="focus" data-placement="auto left" data-container="body" role="button" tabindex="9")
                        div(ng-class="{true: 'col-sm-8', false: 'col-sm-5'}[!create.quiz.latexEnabled]")
                            textarea.autogrow-short.form-control#answer(type="text", on-enter="create.nextFromAnswer();", placeholder="e.g. Paris", ng-model="create.answerText" tabindex="2",rows="1",cols="44")
                            script $('#answer').css('overflow', 'hidden').autogrow()
                        .col-xs-4(ng-show="create.quiz.latexEnabled")
                            span(mathjax-bind="create.answerText")#answerTextMath             
                    .form-group(ng-hide="create.quiz.latexEnabled")
                        label.col-sm-3.control-label 
                            | Incorrect Answers
                            a.glyphicon.glyphicon-question-sign(data-toggle="popover" title="Incorrect Answers (Optional)" data-content="Enter incorrect answers if you want to create a multiple choice question. Leave them out and we'll do something smart. Learn more" data-trigger="focus" data-placement="auto left" data-container="body" role="button" tabindex="10")
                        .col-sm-3
                            textarea.autogrow-short.form-control#alt1(type="text", placeholder="e.g. London", ng-model="create.alt1", on-enter="create.focusAlt('2');", tabindex="3",rows="1",cols="10")
                            script $('#alt1').css('overflow', 'hidden').autogrow()
                        .col-sm-3
                            textarea.autogrow-short.form-control#alt2(type="text", placeholder="e.g. Toronto", ng-model="create.alt2", on-enter="create.focusAlt('3');", tabindex="4",rows="1",cols="10")
                            script $('#alt2').css('overflow', 'hidden').autogrow()
                        .col-sm-3
                            textarea.autogrow-short.form-control#alt3(type="text", placeholder="e.g. Berlin", ng-model="create.alt3", on-enter="create.focusTopic();", tabindex="5",rows="1",cols="10")
                            script $('#alt3').css('overflow', 'hidden').autogrow()
                    .form-group(ng-show="create.quiz.latexEnabled")
                        label.col-sm-3.control-label 
                            | Incorrect Answers
                            a.glyphicon.glyphicon-question-sign(data-toggle="popover" title="Incorrect Answers (Optional)" data-content="Enter incorrect answers if you want to create a multiple choice question." data-trigger="focus" data-placement="auto left" data-container="body" role="button" tabindex="10")
                        .col-sm-5
                            textarea.autogrow-short.form-control#alt1a(type="text", placeholder="e.g. London", ng-model="create.alt1", on-enter="create.focusAlt('2a');", tabindex="3",rows="1",cols="10")
                            script $('#alt1a').css('overflow', 'hidden').autogrow()
                        .col-xs-4(ng-show="create.quiz.latexEnabled")
                            span(mathjax-bind="create.alt1")#alt1Math
                    .form-group(ng-show="create.quiz.latexEnabled")
                        label.col-sm-3.control-label 
                        .col-sm-5
                            textarea.autogrow-short.form-control#alt2a(type="text", placeholder="e.g. Toronto", ng-model="create.alt2", on-enter="create.focusAlt('3a');", tabindex="4",rows="1",cols="10")
                            script $('#alt2a').css('overflow', 'hidden').autogrow()
                        .col-xs-4(ng-show="create.quiz.latexEnabled")
                            span(mathjax-bind="create.alt2")#alt2Math                                                       
                    .form-group(ng-show="create.quiz.latexEnabled")
                        label.col-sm-3.control-label 
                        .col-sm-5
                            textarea.autogrow-short.form-control#alt3a(type="text", placeholder="e.g. Berlin", ng-model="create.alt3", on-enter="create.focusTopic();", tabindex="5",rows="1",cols="10")
                            script $('#alt3a').css('overflow', 'hidden').autogrow()                            
                        .col-xs-4(ng-show="create.quiz.latexEnabled")
                            span(mathjax-bind="create.alt3")#alt3Math                                              
                    .form-group
                        label.col-sm-3.control-label
                          | Subtopic 
                          a.glyphicon.glyphicon-question-sign(data-toggle="popover" title="Subtopic (Optional)" data-content="A subtopic is used to group similar questions together. E.g. “European Capital Cities”. Learn more" data-trigger="focus" data-placement="auto left" data-container="body" role="button" tabindex="11")
                        .col-sm-9
                            input.form-control#topic(type="text", on-enter="create.addQuestion();", placeholder="e.g. European Capital Cities", autofocus="true", tabindex="6", ng-model="create.topic" )
                    .form-group
                        .col-sm-6.col-sm-offset-3
                            br.visible-xs
                            button.btn.btn-primary.btn-block(ng-click="create.addQuestion();", tabindex="7" ) Save - Continue to Next Question
                        .col-sm-3(ng-show="hide")
                            button.btn.btn-block(ng-click="create.toggleSettings();", ng-class="{true: 'btn-info', false: ''}[create.showSettings]" ) Advanced Settings

    .row(ng-show="create.showSettings")        
        .col-xs-12            
            h3 Settings
            .well
                .row
                    br
                    br

    .row
        .col-xs-12
            .row
                .col-sm-7
                    h2(ng-show="create.quiz.questions.length>1") Your {{create.quiz.questions.length}} questions
                    br
                .col-sm-2(style="margin-top:21px")
                    a.btn.btn-block.btn-info(ng-href="/app#/preview/{{create.quiz.uuid}}",ng-show="create.quiz.questions.length>0",target="zzishgame") Preview 
                .col-sm-3(style="margin-top:21px")
                    button.btn.btn-block.btn-primary(ng-click="create.finished()",ng-show="create.quiz.questions.length>0") I'm Finished, let's play!&nbsp;
                    
                    
    br
    .row
        .col-xs-12            
            .well#questionsAnd(ng-show="create.quiz.questions.length")
                .row(ng-repeat="item in create.quiz.questions track by $index", style="padding: 10px;")
                    .col-sm-6
                        h4(ng-show="item.imageURL") {{$index + 1}}.
                            a.imgLink(ng-click="create.loadImage(item)")#mylink                            
                                img(ng-src="{{item.imageURL}}", width="40", heigth="40") 
                            | {{item.question}}
                        h4(ng-hide="item.imageURL") {{$index + 1}}. {{item.question}}
                    .col-sm-4
                        h4.text-info {{item.answer}}
                    .col-sm-2
                        button.btn.btn-info(ng-click="create.editQuestion($index);",style="margin: 4px")
                            span.glyphicon.glyphicon-pencil
                        button.btn.btn-danger(ng-click="create.remove($index);")
                            span.glyphicon.glyphicon-remove
        .col-xs-12(ng-hide="create.quiz.questions.length")
            .well
                h4 Your questions will appear here..

script. 
  $(document).ready(function() {
    $(".glyphicon").hover(function () {
        $('[data-toggle="popover"]').popover()
    });
  });

