style.
    .login-action-container {
        max-width: 400px;
        margin: 0 auto 20px;
        padding: 40px;
        background: rgba(0,0,0, .2);
        border-radius: 20px;
    }
.navbar.navbar-default.navbar-fixed-top
    .container
        .navbar-header
            a(href="/app")
                img(src="/img/quizalize.png", style="height:44px; margin-top:9px; padding-left:5px;")
        a.pull-right.btn.btn-info(href="/quiz",style="margin-top:9px") Create a quiz in 60 seconds!                        

.container

    div#outdated
    br
    .row
        .row(ng-hide="start.loading")

            .well.well-sm(ng-show="start.errorMessage")
                h3.text-center {{start.errorMessage}}
                br
            form(role='form')
                .col-md-6
                    .login-action-container.inverse-text
                        h2 Join a class quiz
                        br
                        p.inverse-text Do you have a class code from your teacher?
                        .form-group
                            input.form-control#classCode(type="text",autocorrect="off", autocapitalize="off" , placeholder="Your Class Code", ng-model="start.classCode", autofocus="true")
                        p.inverse-text Your name - see it on the live dashboard
                        .form-group
                            input.form-control#userName(type="text", autocorrect="off", autocapitalize="off", placeholder="Your unique name", ng-model="start.studentName")
                        br
                        button.btn.btn-primary.btn-block.btn-info(type="submit", ng-click="start.startQuiz()") Show my class quizzes
                        br
                        div(ng-show="start.loading")
                            h3.text-center.inverse-text Fetching Quizzes
                .col-md-6
                    .login-action-container.inverse-text
                        h2 Try any quiz
                        br
                        p All 100% free and you don't need an account to try one
                        br
                        button.btn.btn-primary.btn-block.btn-info(ng-click="start.startPublicQuiz()") Pick a quiz
                    br
                            

