.container
    .row(style="padding-top:10px")
        .col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-3.col-lg-4.col-lg-offset-4.inverse-text.text-center
            .row
                .col-xs-12
                    h2 {{quiz.name}}
                    br

    .row
        .col-xs-12.col-sm-6.col-sm-offset-3.col-lg-4.col-lg-offset-4
            .well
                .text-center
                    h2 Get Ready!
                    br
                    h3 Each question is worth <strong>200 points</strong>.
                    br
                    h3 Score more points by answering questions quickly!
                    br
                    br
                    .btn.btn-block.btn-info(ng-click="quiz.start();") Start