nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
        .navbar-header
            btn(ng-click="quiz.return()")
                img(src="/img/quizalize.png", style="height:44px; margin-top:9px; padding-left:5px;")
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar', onclick='return false')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
        .navbar-collapse.collapse#navbar        
            ul.nav.navbar-nav.navbar-right
                li
                    btn.btn.btn-info.pull-right(ng-click="quiz.cancel()", style=" margin-top:9px;") Cancel Quiz

.container
    .row(style="padding-top:10px")
        .col-sm-12
        .col-x-12.col-sm-8.col-sm-offset-2
            .well
                .text-center
                    #reactContainer
                    h2 Get Ready!
                    br
                    h3 Each question is worth <strong>200 points</strong>.
                    br
                    h3 Score more points by answering questions quickly!
                    br
                    span(ng-show="quiz.showSubText")
                        h4 You will be asked {{quiz.numQuestions}} questions {{quiz.randomText}}
                    br
                    br
                    .btn.btn-block.btn-info(ng-click="quiz.start();") Start
