.container
    .row
        .col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
            .well
                h2#title Quizalize Login            
                form.form-horizontal(role="form")
                    .form-group
                        label.col-sm-3.control-label Email:
                        .col-sm-9
                            input.form-control#email(type="text", on-enter="login.focusPassword();", ng-model="login.email", placeholder="e.g. abc@zzish.com", autofocus="true")
                            br
                        span#passwordSpan
                            label.control-label.col-sm-3 Password                              
                            .col-sm-9
                                input.form-control#password(type="password", on-enter="login.login();",ng-model="login.password")
                                br
                        .col-sm-8
                            span(ng-hide="login.mode=='register'") Don't have an account?&nbsp;
                                a(ng-href='' ng-click="login.showRegister()") Sign Up
                                br
                            span(ng-show="login.mode=='login'") Forgotten Password?&nbsp; 
                                a(ng-href='' ng-click="login.showForget()") Reset
                                br
                            span(ng-hide="login.mode=='login'") Already registered?&nbsp;
                                a(ng-href='' ng-click="login.showLogin()") Log in
                        .col-sm-4
                            button.btn.btn-primary.btn-block(ng-click="login.login();", ng-disabled="login.checkCanSubmit()")#LoginButton
                                span Log In
                        .col-xs-12
                            br
                            hr(style="border: 1px solid; color: #808080")
                        .col-sm-4.col-sm-offset-4
                            center
                                strong or
                                br
                                br
                                a.btn.btn-info.btn-block(href="javascript:login('quiz#/')")#LoginWithZzishButton Login with Zzish
                        .col-xs-8.col-xs-offset-2
                            br
                            center
                                p Zzish is a universal teacher dashboard and unified student login system for educational software



