nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
        .navbar-header
            img(src="/img/quizalize.png", style="height:44px; margin-top:9px; padding-left:5px;")
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar', onclick='return false')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
        .navbar-collapse.collapse#navbar
            ul.nav.navbar-nav.navbar-right(ng-controller="NavBarController as actrl")
                li
                    btn.btn.btn-info.pull-right.fa.fa-volume-up(ng-click="actrl.mute()", style=" margin-top:9px; margin-right:9px;", ng-hide="actrl.hideMute()")
                li
                    btn.btn.btn-info.pull-right.fa.fa-volume-off(ng-click="actrl.unmute()", style=" margin-top:9px; margin-right:9px;", ng-hide="actrl.hideUnmute()") 
                li
                    btn.btn.btn-info.pull-right(ng-click="actrl.cancel()", style=" margin-top:9px;", ng-hide="actrl.hideCancel()") Cancel Quiz
