.container
    .row
        .col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
            .well
                center
                    h1#title Quick Play
                br

                form.form-horizontal(role="form")
                    .form-group
                        label.col-sm-3.control-label 
                            span#loginField Name
                        .col-sm-9
                            input.form-control#name(type="text", on-enter="login.focusClassCode();", ng-model="login.name", placeholder="e.g. John Smith", autofocus="true")
                            br
                        span#classCodeSpan
                            label.control-label.col-sm-3 Class Code                              
                            .col-sm-9
                                input.form-control#classcode(type="text", on-enter="login.login();",ng-model="login.classcode", placeholder="e.g. 2AEFE")
                                br
                        .col-sm-4
                        .col-sm-4
                            button.btn.btn-primary.btn-block(ng-click="login.login();", ng-disabled="login.checkCanSubmit()")#LoginButton
                                span Sign In
                        .col-sm-12
                            hr(style="border: 1px solid")
                        .col-sm-4.col-sm-offset-4
                            center
                                strong or
                                br
                                br
                                a.btn.btn-info.btn-block(href="javascript:login('app#/list')")#LoginWithZzishButton Login With Zzish
                        .col-xs-8.col-xs-offset-2
                            br
                            center
                                p Zzish is a universal teacher dashboard and unified student login system for educational software


