nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
        .navbar-header
            a(href="/")
                img(src="/img/quizalize.png", style="height:44px; margin-top:9px; padding-left:5px;")
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar', onclick='return false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
        .navbar-collapse.collapse#navbar
            ul.nav.navbar-nav.navbar-right
                li
                    a.btn.btn-info(ng-click="login.loadAppButton()",style="margin:9px; height: 10px; line-height: 1.42857143; padding: 10px 10px 30px") Return to App
                li
                    a.btn.btn-info(ng-show="login.code", ng-click="login.quizalize()",style="margin:9px; height: 10px; line-height: 1.42857143; padding: 10px 10px 30px") Return to Quizalize

br
br
    
.container
    .row
        .col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
            .well(style="background-color: {{login.appColour()}}")
                center
                    img(ng-src="{{login.iconURL()}}")
                    h1 {{login.app.name}} - Class Mode
                    p {{login.app.description}}. Play against your classmates using the class code from your teacher. 
                br

                form.form-horizontal(role="form")
                    .form-group
                        label.col-sm-3.control-label 
                            span#loginField Name
                        .col-sm-9
                            input.form-control#name(type="text", on-enter="login.focusClassCode();", ng-model="login.name", placeholder="e.g. John Smith", autofocus="true")
                            br
                        span#classCodeSpan
                            label.control-label.col-sm-3 Class Code                              
                            .col-sm-9
                                input.form-control#classcode(type="text", on-enter="login.login();",ng-model="login.classcode", placeholder="e.g. 2AEFE", autocapitalize="off")
                                br
                        .col-sm-4
                        .col-sm-4
                            button.btn.btn-primary.btn-block(ng-click="login.login();", ng-disabled="login.checkCanSubmit()")#LoginButton
                                span Sign In
                        .col-sm-12
                            hr(style="border: 1px solid")
                        .col-sm-4.col-sm-offset-4
                            center
                                strong or
                                br
                                br
                                a.btn.btn-info.btn-block(href="javascript:login()")#LoginWithZzishButton Login With Zzish
                        .col-xs-8.col-xs-offset-2
                            br
                            center
                                p You should use a Zzish account if you want to track your progress and save your details.
