block header
    style.
        .class-info-block {
            margin-bottom: 10px;
        }
        .class-code {
            display: inline-block;
            padding: 0 10px;
            border: 4px solid #2a7ed0;
            border-radius: 0;
            color: #2a7ed0;
            text-align: center;
            font-weight: 700;
            font-size: 32px;
        }
        .class-code-text {
            margin-top: 4px;
            margin-right: 10px;
            display: inline-block;
            font-size: 32px;
            float: left;
        }
        .class-link {
            margin-bottom: 20px;
            font-size: 32px;
        }
        .border-block {
            border: 1px solid rgba(0,0,0,.1);
            background: #efefef;
            border-radius: 10px;
            padding: 40px;
            min-height: 380px;
        }
.container(style="padding-top: 10px")
    .row
        .row.well
            .col-sm-8.col-sm-offset-2.text-center(ng-show="!preview.published && (preview.classCode || preview.userVerified)")
                h2 Publishing...
            .quiz-preview(ng-show="preview.published")
                h1.text-center What's Next?
                br
                .row
                    .col-sm-6
                        .border-block
                            h1 For your students
                            p Give your students the code:
                            .class-info-block
                                .class-code-text Your <strong>Zzish Class Code</strong> is:
                                .class-code 
                                    {{preview.classCode}}
                            .class-link Send your students to <a href="http://quizal.me"><strong>quizal.me</strong></a>.
                            p Your students will be able to attempt the quiz once.

                            br
                    .col-sm-6
                        .border-block
                            h1 For you
                            p You can see what they are doing in realtime via the Zzish Live Dashboard.
                            br
                            a.btn.btn-primary.btn-lg(ng-href="#{session.zzishweburl}/learning-hub/tclassroom/{{preview.link}}/live", target="zzishld") Go to the Zzish Live Dashboard
                            br
                            br
                            p If you register (free) you can also view their past progress.
                            

                            br
                br
                h1.text-center What else?
                .row
                    .col-sm-6
                        h1 Create more quizzes
                        p You can create more quizzes or re-publish (and edit) your existing quizzes
                        a.btn.btn-info(ng-href="#/") Your Quizzes

                        br
                    


            .col-sm-8.col-sm-offset-2(ng-hide="preview.classCode || preview.userVerified")
                h1.text-center Save Quiz
                    .form-horizontal(role="form")
                p In order to complete your registration and proceed to the Zzish dashboard, please enter your email address.
                .form-group
                    .col-sm-3(ng-hide="preview.classCode || preview.publishing")
                        label.control-label Email
                    .col-sm-9(ng-hide="preview.classCode || preview.publishing")
                        input.form-control#question(type="email", ng-model="preview.emailAddress", on-enter="preview.publish();")
                        br

                    .col-xs-12
                        center
                            button.btn.btn-primary(ng-click="preview.publish();", ng-disabled="preview.emailAddress.length == 0 || preview.publishing") Save and Play
                        br

            .col-sm-8.col-sm-offset-2(ng-show="preview.statusText")
                p.text-center.text-info {{preview.statusText}}

