.container(style="padding-top: 10px")
    .row
        .row.well
            .col-sm-8.col-sm-offset-2.text-center(ng-show="!preview.published && (preview.classCode || preview.userVerified)")
                h2 Publishing...
            .quiz-preview(ng-show="preview.published")

                h2 Congratulations! You have successfully published the quiz: {{preview.quiz.name}}
                br
                .row
                    .col-sm-6
                        .border-block
                            h1 OK, Let's play!
                            h3 Ask your players to go to 
                                strong http://quizal.me
                                | &nbsp;and enter this code:                                   
                            center
                                .class-code 
                                    {{preview.classCode}}
                            br
                            p They can play on any mobile, tablet or desktop devices.
                    .col-sm-6
                        .border-block
                            h1 Next: Launch Dashboard
                            p Track Live progress of what's going on as your students play a Quizalize quiz and get a complete analysis of their result.
                            br
                            br
                            br
                            center
                                a.btn.btn-primary.btn-lg(ng-href="{{preview.fullLink}}", target="zzishld") Open Zzish Teacher Dashboard
                //.row
                //    .col-xs-12
                //        &nbsp;
                //.row
                //    .col-sm-6
                //        .border-block
                //            h1 Edit Your Previous Quizzes
                //            p Ask your students to go to http://quizal.me and where they will be asked to enter a Zzish class code. 
                //            br
                //            center
                //                a.btn.btn-primary.btn-lg.btn-info(ng-href="/quiz/") Manage your Quizzes                                
                //            br
                //    .col-sm-6
                //        .border-block
                //            h1 Assign a public Quiz
                //            p Browse through our public quiz database that can be played by your class.
                //            br
                //            center
                //                btn.btn-primary.btn-lg.btn-info(ng-click="") Browse through our public quizzes
                        

                    

                    


            .col-sm-8.col-sm-offset-2(ng-show="!preview.classCode && !preview.userVerified")
                h1.text-center Register with Quizalize
                    .form-horizontal(role="form")
                p In order to proceed, you will need to register with Quizalize. All you need to do is enter your email and we will send you instructions on how to register.
                .form-group
                    .col-sm-3(ng-hide="preview.classCode || preview.publishing")
                        label.control-label Email
                    .col-sm-9(ng-hide="preview.classCode || preview.publishing")
                        input.form-control#question(type="email", ng-model="preview.emailAddress", on-enter="preview.publish();")
                        br

                    .col-xs-12
                        center
                            button.btn.btn-primary(ng-click="preview.publish();", ng-disabled="preview.emailAddress.length == 0 || preview.publishing") Save and Play
                        br

            .col-sm-8.col-sm-offset-2(ng-show="preview.statusText")
                p.text-center.text-danger {{preview.statusText}}

