.container(style="padding-top: 10px")
    .row.well
        .col-sm-8.col-sm-offset-2.text-center(ng-show="ctrl.publishing")
             h2 Publishing...
        .quiz-preview(ng-show="ctrl.published")
            .row
                .col-sm-6
                    .border-block
                        center
                            h1 Players get ready!
                            h3 Browse to 
                                strong http://
                                    span(style="color: red; font-size: 32px") quizal.me
                                br
                                | and join this class
                            center
                                .class-code 
                                    | Class code: {{ctrl.currentClass.code}}
                            br
                            p(style="margin-bottom: 18.5px") You can play on any mobile, tablet or computer.
                .col-sm-6
                    .border-block
                        center
                            h1 Teacher get ready!
                            p Open your learning dashboard here:
                            br
                            br
                            center
                                a.btn.btn-primary.btn-lg(ng-href="{{ctrl.currentClass.link}}", target="zzishld") Open Teacher Dashboard
                            br
                            p You can see live results as your students play.
            br
            br 
            .row(ng-hide="ctrl.quiz.publicAssigned || (ctrl.quiz.profileId!=undefined && ctrl.quiz.profileId!=ctrl.profileId)")
                .col-sm-12
                    .border-block(style="background: #D6EBFF; padding: 10px")
                        center
                            h1 Share this quiz!
                            p Enter the email addresses of up to 10 of your colleagues so that they can use this quiz in their class
                            .row
                                .col-sm-11
                                    input.form-control#shareEmails(type="text", ng-model="ctrl.shareEmails", on-enter="ctrl.share();", placeholder="charles@zzish.com samir@zzish.com")
                                .col-sm-1
                                    a.btn.btn-primary(ng-click="ctrl.share();") Share
                            br
                            br
                            p or share the following link with them
                            center
                                p(style="font-size: 11px")
                                    em {{ctrl.shareLink}}

        .col-sm-8.col-sm-offset-2(ng-show="!ctrl.publishing && !ctrl.published")
            h1.text-center Which class should take this quiz?
                .form-horizontal(role="form")
            p You can have more than one class with Quizalize. Type in the name of a class should take this quiz. If you type in a new name, you will create a new class. 
            .form-group
                .col-sm-3.fieldlabel
                    label.control-label Class Name
                .col-sm-9
                    input.form-control#className(type="text", ng-model="ctrl.className", on-enter="ctrl.publish();")
                    br
                .col-sm-3.col-sm-offset-6
                    button.btn.btn-block(ng-click="ctrl.showSettings=!ctrl.showSettings", ng-class="{true: 'btn-info', false: ''}[ctrl.showSettings]") More Settings
                .col-sm-3
                    br.visible-xs
                    button.btn.btn-block.btn-primary(ng-click="ctrl.publish();", ng-disabled="ctrl.className.length==0 || ctrl.publishing") Play

                .col-xs-12
                    center
                        
    include qsettings
