img(height='1', width='1', style='display:none;', alt='', src='https://analytics.twitter.com/i/adsct?txn_id=l5zii&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0')
img(height='1', width='1', style='display:none;', alt='', src='//t.co/i/adsct?txn_id=l5zii&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0')
img(height='1', width='1', alt='', style='display:none', src='https://www.facebook.com/tr?ev=6024319569179&cd[value]=0.01&cd[currency]=GBP&noscript=1')

.container(style="padding-top: 10px")
    .row.well
        .col-sm-8.col-sm-offset-2.text-center(ng-show="publish.publishing")
             h2 Publishing...
        .quiz-preview(ng-show="publish.published")
            .row
                .col-sm-6
                    .border-block
                        center
                            h1 Players get ready!
                            h3 Browse to 
                                strong http://
                                    span(style="color: red; font-size: 32px") quizal.me
                                br
                                | and join this class
                            center
                                .class-code 
                                    | Class code: {{publish.currentClass.code}}
                            br
                            p(style="margin-bottom: 18.5px") You can play on any mobile, tablet or computer.
                .col-sm-6
                    .border-block
                        center
                            h1 Teacher get ready!
                            p Open your learning dashboard here:
                            br
                            br
                            center
                                a.btn.btn-primary.btn-lg(ng-href="{{publish.currentClass.link}}", target="zzishld") Open Teacher Dashboard
                            br
                            p You can see live results as your students play.
            br
            br 
            .row(ng-hide="publish.quiz.publicAssigned || (publish.quiz.profileId!=undefined && publish.quiz.profileId!=publish.profileId)")
                .col-sm-12
                    .border-block
                        center
                            h1 Share this quiz!
                            h4 Enter the email addresses of up to 10 of your colleagues so that they can use this quiz in their class
                            .row
                                .col-sm-11
                                    input.form-control#shareEmails(type="text", ng-model="publish.shareEmails", on-enter="publish.share();", placeholder="charles@zzish.com samir@zzish.com")
                                .col-sm-1
                                    a.btn.btn-primary(ng-click="publish.share();") Share
                            br
                            br
                            p or share the following link with them
                            center
                                p(style="font-size: 11px")
                                    em {{publish.shareLink}}

        .col-sm-8.col-sm-offset-2(ng-show="!publish.publishing && !publish.published")
            h1.text-center Which class should take this quiz?
                .form-horizontal(role="form")
            p You can have more than one class with Quizalize. Type in the name of a class should take this quiz. If you type in a new name, you will create a new class. 
            .form-group
                .col-sm-3.fieldlabel
                    label.control-label Class Name
                .col-sm-9
                    input.form-control#className(type="text", ng-model="publish.className", on-enter="publish.publish();")
                    br

                .col-xs-12
                    center
                        button.btn.btn-primary(ng-click="publish.publish();", ng-disabled="publish.className.length==0 || publish.publishing") Play

        .col-sm-8.col-sm-offset-2(ng-show="!publish.publishing && !publish.published")
