style. 
  label .glyphicon {
    color: rgba(0,0,0,.5);
    font-size: 12px;
    padding: 6px;
    cursor: pointer;
  }
  label .glyphicon:hover {
    color: black;
  }

  a.glyphicon:hover, a.glyphicon:focus {
    border: none;
    text-decoration: none; 
  }
  .popover {
  }

.container
    h1(ng-hide="quizzes.creating") Hi There! Welcome to Quizalize
    .row(ng-hide="quizzes.creating")
        .row.well
            .quiz-preview(ng-show="true")
                .row
                    span(ng-class="{'col-sm-4': ctrl.classCode!=undefined && ctrl.classCode.length>0, 'col-sm-6': ctrl.classCode==undefined || ctrl.classCode==''}")
                        .border-block
                            center
                                h1 Create a quiz
                            p Make your own classroom quiz in 60 seconds
                            br
                            center
                                a.btn.btn-primary.btn-lg(ng-click="quizzes.create()") Create a New Quiz
                    .col-sm-4(ng-hide="ctrl.classCode==undefined || ctrl.classCode==''")
                        .border-block
                            center
                                h1 Play a Quiz
                            p Ask your class to go to http://quizal.me and enter this code:
                            center
                                .class-code 
                                    {{ctrl.classCode}}
                            br
                            p No Downloads needed - use any device/computer.
                    span(ng-class="{'col-sm-4': ctrl.classCode!=undefined && ctrl.classCode.length>0, 'col-sm-6': ctrl.classCode==undefined || ctrl.classCode=='' }")
                        .border-block
                            center
                                h1 Play a Public Quiz
                            p Choose a pre-made quiz for your class to play
                            br
                            center
                                a.btn.btn-primary.btn-lg.btn-info(ng-href="/quiz/#/public") Browse our Quizzes

    .row(ng-show="quizzes.creating")
        .col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
            .well
                h1 Create a Quiz

                form.form-horizontal(role="form")
                    .form-group
                        label.col-sm-3.control-label
                            | Name:
                            a.glyphicon.glyphicon-question-sign(data-toggle="popover" title="Quiz Title" data-content="Give your quiz a unique name so you can easily identify it." data-trigger="focus" data-placement="auto left" data-container="body" role="button" tabindex="0")
                        .col-sm-9
                            input.form-control#question(type="text", on-enter="quizzes.focusTopic();", ng-model="quizzes.newQuizName", placeholder="e.g. Capital Cities", autofocus="true")
                            br
                        label.control-label.col-sm-3                               
                            | Topic:    
                            a.glyphicon.glyphicon-question-sign(data-toggle="popover" title="Quiz Topic" data-content="You can provide an optional topic to help organize your quizzes into different topic areas. This is optional." data-trigger="focus" data-placement="auto left" data-container="body" role="button" tabindex="1")                        
                        .col-sm-9
                            input.form-control#category(type="text", on-enter="quizzes.createQuiz();",ng-model="quizzes.newQuizCategory", placeholder="e.g. Geography Level 1")
                            br
                        .col-sm-12
                            button.btn.btn-primary.btn-block(ng-click="quizzes.createQuiz();", ng-hide="quizzes.newQuizName==''") Create Quiz

    .row(ng-hide="quizzes.creating || quizzes.didSupplyQuizName || quizzes.didRequestSample")
        .col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3(ng-show="quizzes.hasOwnQuizzes")
            h2 Manage Your Existing quizzes
            .row(ng-repeat="quiz in quizzes.pastQuizzes | filter:{publicAssigned:false} track by $index", style="padding-bottom: 10px")
                .col-sm-6.col-xs-12(ng-class="{'.col-sm-6.col-xs-12': !quiz.publicAssigned, '.col-sm-10.col-xs-12': quiz.publicAssigned}")
                    h4 {{quiz.name}}
                .col-sm-2.col-xs-3
                    button.btn.btn-info.btn-block(ng-click="quizzes.editQuiz(quiz);",ng-hide="quiz.publicAssigned")
                        span.glyphicon.glyphicon-pencil
                    br
                .col-sm-2.col-xs-3
                    button.btn.btn-danger.btn-block(ng-click="quizzes.deleteQuiz(quiz);",ng-hide="quiz.publicAssigned")
                        span.glyphicon.glyphicon-remove
                    br
                .col-sm-2.col-xs-6
                    center
                        button.btn.btn-info(ng-click="quizzes.unpublishQuiz(quiz);", ng-show="quiz.enabled",style="padding: 10px") Unpublish
                        button.btn.btn-info(ng-click="quizzes.republishQuiz(quiz);", ng-hide="quiz.enabled",style="padding: 10px") Republish
                        br
            p        
            p.text-info(ng-hide="quizzes.pastQuizzes.length") When you have created quizzes they will appear here

    .row(ng-hide="quizzes.creating || quizzes.didSupplyQuizName || quizzes.didRequestSample")
        .col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3(ng-show="quizzes.hasPublicAssignedQuizzes")
            h2 Your Public Quizzes
            .row(ng-repeat="quiz in quizzes.pastQuizzes | filter:{publicAssigned:true} track by $index", style="padding-bottom: 10px")
                .col-sm-10.col-xs-12(ng-class="{'.col-sm-6.col-xs-12': !quiz.publicAssigned, '.col-sm-10.col-xs-12': quiz.publicAssigned}")
                    h4 {{quiz.name}}
                        span(ng-show="quiz.publicAssigned")
                .col-sm-2.col-xs-12
                    button.btn.btn-info(ng-click="quizzes.unassignPublicQuiz(quiz);", style="padding: 10px") Remove
            p        
            p.text-info(ng-hide="quizzes.pastQuizzes.length") When you have created quizzes they will appear here            


//        .col-sm-6.col-sm-pull-6
//            h2 Sample Quizzes
//            p Some sample quizzes to get started with
//
//            .row(ng-repeat="quiz in quizzes.sampleQuizzes track by $index", style="padding-bottom: 10px")
//                .col-sm-8
//                    h4 {{quiz.name}}
//                .col-sm-4
//                    button.btn.btn-info.btn-block(ng-click="quizzes.editSampleQuiz($index);") Edit
.container(ng-show="quizzes.didRequestSample")
    .row
        .row.well
            .col-sm-8.col-sm-offset-2.text-center(ng-show="quizzes.didRequestSample")
                h2 Retrieving Quiz Data...

script. 
  $(document).ready(function() {
    $(".glyphicon").hover(function () {
        $('[data-toggle="popover"]').popover()
    });
  });