.container(ng-hide="quizzes.didSupplyQuizName")
    .row
        .col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
            .well
                h1 Create your Quiz
                h4 Give your quiz a title

                .form-horizontal(role="form")
                    .form-group
                        .col-sm-8
                            input.form-control#question(type="text", ng-model="quizzes.newQuizName", placeholder="e.g. Capital Cities", on-enter="quizzes.createQuiz();", autofocus="true")
                            br
                        .col-sm-4
                            button.btn.btn-primary.btn-block(ng-click="quizzes.createQuiz();", ng-hide="quizzes.newQuizName==''") Create Quiz

    .row
        .col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3(ng-show="quizzes.pastQuizzes.length")
            h2 Your Existing Quizzes
            p Republish your Quizzes so that your students can replay them.
            .row(ng-repeat="quiz in quizzes.pastQuizzes track by $index", style="padding-bottom: 10px")
                .col-sm-6.col-xs-12
                    h4 {{quiz.name}}
                .col-sm-2.col-xs-6
                    button.btn.btn-danger.btn-block(ng-click="quizzes.deleteQuiz($index);")
                        span.glyphicon.glyphicon-remove
                    br
                .col-sm-2.col-xs-6
                    button.btn.btn-info.btn-block(ng-click="quizzes.previewQuiz($index);")
                        span.glyphicon.glyphicon-play
                    br
                .col-sm-2.col-xs-6
                    button.btn.btn-info.btn-block(ng-click="quizzes.editQuiz($index);")
                        span.glyphicon.glyphicon-pencil
                    br
            p        
            p.text-info(ng-hide="quizzes.pastQuizzes.length") When you have created quizzes they will appear here

//        .col-sm-6.col-sm-pull-6
//            h2 Sample Quizzes
//            p Some sample quizzes to get started with
//
//            .row(ng-repeat="quiz in quizzes.sampleQuizzes track by $index", style="padding-bottom: 10px")
//                .col-sm-8
//                    h4 {{quiz.name}}
//                .col-sm-4
//                    button.btn.btn-info.btn-block(ng-click="quizzes.editSampleQuiz($index);") Edit



