.container
    .row.well
        h1.text-center One click class setup
            .form-horizontal(role="form")
        p No need to fill in full registration just yet, but please do enter a real email address so we can send you secure access to your data in the future. If you are already registered, then login before proceeding.
        .form-group
            .col-sm-3
                label.control-label Email
            .col-sm-9
                input.form-control#emailAddress(type="email", ng-model="register.emailAddress", on-enter="register.registerEmail();", placeholder="If you are already registered, please click login above")
                br

            .col-xs-12
                center
                    button.btn.btn-primary(ng-click="register.registerEmail();", ng-disabled="register.emailAddress.length == 0 || register.registeringNow") Register
                br