.container
    .col-sm-8.col-sm-offset-2
        .well
            h2 Thank you for entering your details...

            p You will be redirected shortly.

            a(ng-click="registered.continue()") Click here if the redirect doesn't work
img(height='1', width='1', style='display:none;', alt='', src='//t.co/i/adsct?txn_id=l5zii&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0')
img(height='1', width='1', alt='', style='display:none', src='https://www.facebook.com/tr?ev=6024319569179&cd[value]=0.01&cd[currency]=GBP&noscript=1')
img(height="1", width="1", style="border-style:none;",alt="",src="//www.googleadservices.com/pagead/conversion/1034680765/?value=100&amp;currency_code=GBP&amp;label=Tp2vCKeA3lcQvfOv7QM&amp;guid=ON&amp;script=0")
