block header
    style.
        .ng-hide-add, .ng-hide-remove {
           /* ensure visibility during the transition */
        display: block !important; /* yes, important */
        }
        .cssFade {
            transition: 0.5s linear all;
            opacity: 1;
        }
        .cssFade.ng-hide {
            opacity: 0;
        }


nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
        .navbar-header
            img(src="/img/quizalize.png", style="height:44px; margin-top:9px; padding-left:5px;")

.container
    .ql-score
        .score
            h2 {{quiz.score}} pts
        .questions
            h2 Q: {{quiz.questionId + 1}}/{{quiz.questionCount}}
    #reactContainer
    

    .row.row-scrambled
        .col-x-12.col-sm-8.col-sm-offset-2
            .well(ng-show="quiz.showButtons",class="cssFade ng-scope ng-hide")
                .text-center
                    h2.math.quizQuestion#quizQuestion {{quiz.question}}
                    span(ng-show="quiz.imageURL")
                        img(ng-src="{{quiz.imageURL}}",width="80%")
                        br
                        br

                    .btn-group.btn-default
                        button.btn.letterTile.btn-info(ng-repeat="letter in quiz.userAnswerLetters track by $index", ng-click="quiz.removeLetter($index)") {{letter}}

            br
            .well(style="background: #2E60FF; border: #2E60FF;")
                .text-center
                    br
                    p.inverse-text Unscrambble the letters below to find the correct answer
                    div
                        button.btn.btn-primary.letterTile(ng-repeat="letter in quiz.letters track by $index", ng-click="quiz.addLetter($index)", style="margin-right:3px; margin-left:3px; margin-bottom: 3px;") {{letter}}
                    br
