nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
        .navbar-header
            img(src="/img/quizalize.png", style="height:44px; margin-top:9px; padding-left:5px;")

.container
    #reactContainer
    .row(style="padding-top:10px").row-scrambled
        div(id="reactContainer")
        .col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-3.col-lg-5.col-lg-offset-2.inverse-text
            .row
                .col-xs-6.text-left
                    h2 {{quiz.score}} pts
                .col-xs-6.text-right
                    h2 Q: {{quiz.questionId + 1}}/{{quiz.questionCount}}

    .row.row-scrambled
        .col-x-12.col-sm-8.col-sm-offset-2
            .well
                .text-center
                    h2.math(ng-show="quiz.question.length < 20").quizQuestion#quizQuestion {{quiz.question}}
                    span(ng-show="quiz.imageURL")
                        img(ng-src="{{quiz.imageURL}}",width="80%")
                        br
                        br

                    .btn-group.btn-default
                        button.btn.letterTile.btn-info(ng-repeat="letter in quiz.userAnswerLetters track by $index", ng-click="quiz.removeLetter($index)") {{letter}}

            br
            .well(style="background: #2E60FF; border: #2E60FF;")
                .text-center
                    br
                    p.inverse-text Unscrambble the letters below to find the correct answer
                    div
                        button.btn.btn-primary.letterTile(ng-repeat="letter in quiz.letters track by $index", ng-click="quiz.addLetter($index)", style="margin-right:3px; margin-left:3px; margin-bottom: 3px;") {{letter}}
                    br
