.container
    style.
        .quiz-find-title {
            margin-bottom: 40px;
        }
        .quiz-topic-block {
            background: #ed3041;
            padding: 0 20px;
            border-radius: 20px;
            overflow: hidden;
            display: block;
            margin-bottom: 20px;
        }
        .quiz-topic-title {
            padding: 20px;
            margin: 20px;
            font-size: 32px;
            font-weight: 700;
            color: white;
        }
        .quiz-topic-title:hover {
            color: white;
        }
        a.quiz-item {
            display: block;
            background: white;
            padding: 10px;
            box-shadow: 0 0 20px rgba(0,0,0,.1);
            margin-bottom: 20px;
        }
        .quiz-item:hover {
            cursor: pointer;
            background: #efefef;
        }
        .quiz-title {
            font-size: 18px;
            font-weight: 700;
            margin-bottom: 20px;
        }
        .quiz-question-count {
            font-size: 12px;
            font-weight: 300;
            color: rgba(0,0,0,.5);
        }
        .quiz-difficulty {
            font-size: 12px;
            font-weight: 300;
            text-align: right;
            color: rgba(0,0,0,.5);
        }

    .row(style="padding-top:10px")
        .col-xs-12
            h1.inverse-text.text-center Your Quizzes

    .row
        .col-md-4
            .quiz-topic-block
                a.quiz-link(data-toggle="collapse" href="#collapse1" aria-expanded="false" aria-controls="collapse1")
                    h2.quiz-topic-title.text-center GCSE English
                .quiz-list.collapse#collapse1
                    a.quiz-item
                        .quiz-title How to Write Like Shakespeare
                        .row.quiz-info-row
                            .col-md-6
                                .quiz-question-count 24 Questions
                            .col-md-6
                                .quiz-difficulty Hard
                    a.quiz-item
                        .quiz-title How to Write Like Shakespeare and How to Write The Titles for Quiz Questions (KS3)
                        .row.quiz-info-row
                            .col-md-6
                                .quiz-question-count 12 Questions
                            .col-md-6
                                .quiz-difficulty Easy
            .quiz-topic-block
                a.quiz-link(data-toggle="collapse" href="#collapse2" aria-expanded="false" aria-controls="collapse2")
                    h2.quiz-topic-title.text-center Maths SAT Revision
                .quiz-list.collapse#collapse2
                    a.quiz-item
                        .quiz-title How to Write Like Shakespeare
                        .row.quiz-info-row
                            .col-md-6
                                .quiz-question-count 24 Questions
                            .col-md-6
                                .quiz-difficulty Hard
                    a.quiz-item
                        .quiz-title How to Write Like Shakespeare and How to Write The Titles for Quiz Questions (KS3)
                        .row.quiz-info-row
                            .col-md-6
                                .quiz-question-count 12 Questions
                            .col-md-6
                                .quiz-difficulty Easy
                    a.quiz-item
                        .quiz-title How to Write Like Shakespeare and How to Write The Titles for Quiz Questions (KS3)
                        .row.quiz-info-row
                            .col-md-6
                                .quiz-question-count 12 Questions
                            .col-md-6
                                .quiz-difficulty Easy
            .quiz-topic-block
                a.quiz-link(data-toggle="collapse" href="#collapse3" aria-expanded="false" aria-controls="collapse3")
                    h2.quiz-topic-title.text-center GCSE English
                .quiz-list.collapse#collapse3
                    a.quiz-item
                        .quiz-title How to Write Like Shakespeare
                        .row.quiz-info-row
                            .col-md-6
                                .quiz-question-count 24 Questions
                            .col-md-6
                                .quiz-difficulty Hard
                    a.quiz-item
                        .quiz-title How to Write Like Shakespeare and How to Write The Titles for Quiz Questions (KS3)
                        .row.quiz-info-row
                            .col-md-6
                                .quiz-question-count 12 Questions
                            .col-md-6
                                .quiz-difficulty Easy
        .col-md-4
            .quiz-topic-block
                a.quiz-link(data-toggle="collapse" href="#collapse4" aria-expanded="false" aria-controls="collapse4")
                    h2.quiz-topic-title.text-center GCSE English
                .quiz-list.collapse#collapse4
                    a.quiz-item
                        .quiz-title How to Write Like Shakespeare
                        .row.quiz-info-row
                            .col-md-6
                                .quiz-question-count 24 Questions
                            .col-md-6
                                .quiz-difficulty Hard
                    a.quiz-item
                        .quiz-title How to Write Like Shakespeare and How to Write The Titles for Quiz Questions (KS3)
                        .row.quiz-info-row
                            .col-md-6
                                .quiz-question-count 12 Questions
                            .col-md-6
                                .quiz-difficulty Easy
            .quiz-topic-block
                a.quiz-link(data-toggle="collapse" href="#collapse5" aria-expanded="false" aria-controls="collapse5")
                    h2.quiz-topic-title.text-center Maths SAT Revision
                .quiz-list.collapse#collapse5
                    a.quiz-item
                        .quiz-title How to Write Like Shakespeare
                        .row.quiz-info-row
                            .col-md-6
                                .quiz-question-count 24 Questions
                            .col-md-6
                                .quiz-difficulty Hard
                    a.quiz-item
                        .quiz-title How to Write Like Shakespeare and How to Write The Titles for Quiz Questions (KS3)
                        .row.quiz-info-row
                            .col-md-6
                                .quiz-question-count 12 Questions
                            .col-md-6
                                .quiz-difficulty Easy
                    a.quiz-item
                        .quiz-title How to Write Like Shakespeare and How to Write The Titles for Quiz Questions (KS3)
                        .row.quiz-info-row
                            .col-md-6
                                .quiz-question-count 12 Questions
                            .col-md-6
                                .quiz-difficulty Easy
            .quiz-topic-block
                a.quiz-link(data-toggle="collapse" href="#collapse6" aria-expanded="false" aria-controls="collapse6")
                    h2.quiz-topic-title.text-center GCSE English
                .quiz-list.collapse#collapse6
                    a.quiz-item
                        .quiz-title How to Write Like Shakespeare
                        .row.quiz-info-row
                            .col-md-6
                                .quiz-question-count 24 Questions
                            .col-md-6
                                .quiz-difficulty Hard
                    a.quiz-item
                        .quiz-title How to Write Like Shakespeare and How to Write The Titles for Quiz Questions (KS3)
                        .row.quiz-info-row
                            .col-md-6
                                .quiz-question-count 12 Questions
                            .col-md-6
                                .quiz-difficulty Easy
        .col-md-4
            .quiz-topic-block
                a.quiz-link(data-toggle="collapse" href="#collapse4" aria-expanded="false" aria-controls="collapse4")
                    h2.quiz-topic-title.text-center GCSE English
                .quiz-list.collapse#collapse4
                    a.quiz-item
                        .quiz-title How to Write Like Shakespeare
                        .row.quiz-info-row
                            .col-md-6
                                .quiz-question-count 24 Questions
                            .col-md-6
                                .quiz-difficulty Hard
                    a.quiz-item
                        .quiz-title How to Write Like Shakespeare and How to Write The Titles for Quiz Questions (KS3)
                        .row.quiz-info-row
                            .col-md-6
                                .quiz-question-count 12 Questions
                            .col-md-6
                                .quiz-difficulty Easy
            .quiz-topic-block
                a.quiz-link(data-toggle="collapse" href="#collapse5" aria-expanded="false" aria-controls="collapse5")
                    h2.quiz-topic-title.text-center Maths SAT Revision
                .quiz-list.collapse#collapse5
                    a.quiz-item
                        .quiz-title How to Write Like Shakespeare
                        .row.quiz-info-row
                            .col-md-6
                                .quiz-question-count 24 Questions
                            .col-md-6
                                .quiz-difficulty Hard
                    a.quiz-item
                        .quiz-title How to Write Like Shakespeare and How to Write The Titles for Quiz Questions (KS3)
                        .row.quiz-info-row
                            .col-md-6
                                .quiz-question-count 12 Questions
                            .col-md-6
                                .quiz-difficulty Easy
                    a.quiz-item
                        .quiz-title How to Write Like Shakespeare and How to Write The Titles for Quiz Questions (KS3)
                        .row.quiz-info-row
                            .col-md-6
                                .quiz-question-count 12 Questions
                            .col-md-6
                                .quiz-difficulty Easy
            .quiz-topic-block
                a.quiz-link(data-toggle="collapse" href="#collapse6" aria-expanded="false" aria-controls="collapse6")
                    h2.quiz-topic-title.text-center GCSE English
                .quiz-list.collapse#collapse6
                    a.quiz-item
                        .quiz-title How to Write Like Shakespeare
                        .row.quiz-info-row
                            .col-md-6
                                .quiz-question-count 24 Questions
                            .col-md-6
                                .quiz-difficulty Hard
                    a.quiz-item
                        .quiz-title How to Write Like Shakespeare and How to Write The Titles for Quiz Questions (KS3)
                        .row.quiz-info-row
                            .col-md-6
                                .quiz-question-count 12 Questions
                            .col-md-6
                                .quiz-difficulty Easy    
        .col-sm-6.col-sm-push-3(ng-show="quizzes.quizzes.length")
            .well            
                .row(ng-repeat="quiz in quizzes.quizzes track by $index", style="padding-bottom: 10px")
                    .visible-sm.visible-md.visible-lg
                        .col-sm-8
                            h4 {{quiz.name}} ({{quiz.questions.length}}
                                ng-pluralize(count="quiz.questions.length", when="{1: ' question', other: ' questions'}")
                                |)
                        .col-sm-4
                            button.btn.btn-info.btn-block(ng-click="quizzes.startQuiz($index);")
                                span.glyphicon.glyphicon-play
                    .visible-xs
                        .col-xs-12
                            button.btn.btn-info.btn-block(ng-click="quizzes.startQuiz($index);") {{quiz.name}} ({{quiz.questions.length}})


        .col-sm-6.col-sm-offset-3(ng-hide="quizzes.quizzes.length && !quizzes.loading")
            .well
                h3 No quizzes available. 
                p Your Teacher has not assigned/re-published any quizzes.

                br
                button.btn.btn-info.btn-block(ng-click="quizzes.reloadQuizzes();")
                    span.glyphicon.glyphicon-refresh
                    |&nbsp;Check for new quizzes

        .col-sm-6.col-sm-offset-3(ng-hide="quizzes.loading")
            .well
                h3 Finished?
                br
                a.btn.btn-default.btn-block(ng-click="quizzes.logout();")
                    span.glyphicon.glyphicon-user
                    | &nbsp;Logout

        .col-sm-6.col-sm-offset-3(ng-show="quizzes.loading")
            h3.text-center.inverse-text Fetching Quizzes
