@import './../shared/scss/variables';
@import './../shared/scss/mixins';
@import './../shared/scss/layout';


.q-home {
	font-size: 16px;
	color: $brand-color-black;
	&__header {
		background: $brand-color-blue;
	}

	&__section {
		&__inner {
			max-width: 1120px;
			padding: 20px;
			margin: auto;
		}
	}
}

@import './../createQuizApp/components/views/CQViewHeader/CQViewHeaderStyles';
@import 'home/hero';
