.cq-viewprofilepicture {
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    background-size: cover;
    background-color: #FFF;
    display: flex;
    justify-content: center;

    &__placeholder {
        color: #FFF;
        font-size: 72px;
        display: block;
        align-self: center;

    }
}
