.cq-viewprofilepicture {
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    background-size: cover;
    
    @at-root #{&}__placeholder {
        color: #FFF;
        font-size: 72px;
        line-height: 100%;
        margin-top: 40px;
        display: block;

    }
}
