// common
@import './../../shared/scss/variables';
@import './../../shared/scss/mixins';
@import './../../shared/scss/layout';

// base
@import './CQBaseStyles';


// views
@import './../components/views/CQViewAppColourPicker/CQViewAppColourPickerStyles';
@import './../components/views/CQViewAppGrid/CQViewAppGridStyles';
@import './../components/views/CQViewAppQuizList/CQViewAppQuizListStyles';
@import './../components/views/CQViewClassList/CQViewClassListStyles';
@import './../components/views/CQViewQuizMarketplaceOptions/CQViewQuizMarketplaceOptionsStyles';
@import './../components/views/CQViewCreateApp/CQViewCreateAppStyles';
@import './../components/views/CQViewHeader/CQViewHeaderStyles';
@import './../components/views/CQViewProfilePicture/CQViewProfilePictureStyles';
@import './../components/views/CQViewQuizDetails/CQViewQuizDetailsStyles';
@import './../components/views/CQViewQuizFilter/CQViewQuizFilterStyles';
@import './../components/views/CQViewQuizList/CQViewQuizListStyles';
@import './../components/views/CQViewShareQuiz/CQViewShareQuizStyles';


// components
// components can override default styles from views
@import './../components/pages/CQApp/CQAppStyles';
@import './../components/pages/CQAssignments/CQAssignmentsStyles';
@import './../components/pages/CQCreate/CQCreateStyles';
@import './../components/pages/CQDashboard/CQDashboardStyles';
@import './../components/pages/CQEdit/CQEditStyles';
@import './../components/pages/CQLogin/CQLoginStyles';
@import './../components/pages/CQNotFound/CQNotFoundStyles';
@import './../components/pages/CQProfile/CQProfileStyles';
@import './../components/pages/CQMarketplace/CQMarketplaceStyles';
@import './../components/pages/CQPublished/CQPublishedStyles';
@import './../components/pages/CQPublishedInfo/CQPublishedInfoStyles';
@import './../components/pages/CQQuizzes/CQQuizzesStyles';
@import './../components/pages/CQQuizzes/CQQuizzesStyles';
@import './../components/pages/CQRecoverPassword/CQRecoverPasswordStyles';
@import './../components/pages/CQRegister/CQRegisterStyles';
@import './../components/pages/CQRestorePassword/CQRestorePasswordStyles';
@import './../components/pages/CQSettings/CQSettingsStyles';
@import './../components/pages/CQReview/CQReviewStyles';
@import './../components/pages/CQWelcome/CQWelcomeStyles';
@import './../components/pages/CQYourApps/CQYourAppsStyles';
@import './../components/pages/CQPremium/CQPremiumStyles';
@import './../components/pages/CQDiscovery/CQDiscoveryStyles';


// utils
@import './../components/utils/CQAutofillStyles';
@import './../components/utils/CQSpinnerStyles';
