.appquizlist {
    padding: 20px;
    ul {
        list-style: none;
        padding: 0;
    }
    .cq-viewquizlist {
        width: 100%;
    }
    &__left {
        // float: left;
        // flex: 0 0 auto;
        padding: 0 10px;
        width: 100%;
    }

    &__app {
        margin-bottom: 20px;
        display: flex;
        padding: 10px;
        border-radius: 10px;
        &__info {
            height: 100px;
            display: flex;
            margin-bottom: 10px;

            p {margin-bottom: 0;}
            &__text {
                align-self: flex-end;
            }
        }
        &__icon {
            // float: left;
            width: 100px;
            height: 100px;
            flex: 0 0 auto;
            border-radius: 20px;
            background-size: cover;
        }
    }
}
