.cq-login {
    hr {
        border: 1px solid;
        color: #808080
    }

    &__inner {
        background: #FFF;
        max-width: 620px;
        margin: auto;
        padding: 20px;
        border-radius: 5px;
    }

    &__header {
        text-align: center;
        margin-bottom: 20px;
    }

    &__email,
    &__password {
        margin-bottom: 20px;
        @include clearfix();
        &__label {
            float: left;
            width: 25%;
            padding: 10px;
        }
        &__input {
            float: left;
            width: 75%;
            padding: 0 10px;
        }
    }

    &__cta {
        @include clearfix();
        border-bottom: 1px solid $brand-color-grey;
        padding-bottom: 30px;
        margin: 10px;
    }

    &__button,
    &__extra {
        width: 50%;
        float: left;
    }

    &__zzish {
        margin-top: 20px;

        text-align: center;
        &__header {
            padding: 10px;
        }
        &__footer {
            width: 340px;
            margin: 20px auto;
        }
    }
    .login-zzish {
        background-color: #8d3b8e;
        border-color: #8d3b8e;
        width: 200px;
        margin: 10px;
    }
}
