
.cq-appgrid {

    $appIcon: 140px;
    $quizIcon: 40px;
    min-height: 330px;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;

    ul {
        padding: 0;
        margin: 0;
    }

    &__button {
        margin: 0 3px;
    }

    &.cq-appgrid__n5 {
        min-height: 330px;
    }
    @at-root #{&}__app {
        display: inline-block;
        vertical-align: bottom;
        width: $appIcon + 30px;
        height: $appIcon + 100px;
        margin: 10px;
    }

    @at-root #{&}__appicon {
        border-radius: 100%;
        overflow: hidden;
        width: $appIcon;
        height: $appIcon;
        margin: auto;
        margin-bottom: 10px;
        background-size: cover;
        background-position: center center;
        img {
            width: 100%;
            /* background: red; */
        }
        &.empty {
            margin-top: 10px;
            background: #CCC;
        }
    }

    @at-root #{&}__appname {
        font-weight: bold;
        font-size: 16px;
    }
    @at-root #{&}__appdetails {
        text-align: center;
    }

    @at-root #{&}__appquizzes {
        color: $brand-color-red-light;
    }

    @at-root #{&}__appprice {
        text-transform: uppercase;
        font-size: 13px;
        color: $brand-color-grey-light;
    }


    @at-root #{&}__appauthor {
        line-height: 30px;
    }
    @at-root #{&}__appauthor--avatar {
        display: inline-block;
        vertical-align: bottom;
        width: 30px;
        height: 30px;
        margin: 0 3px 0 0;
        background-position: center center;
        background-size: cover;
        border-radius: 100%;
        border: 1px solid $brand-color-grey-lighter;
    }

    @at-root #{&}__pagination {
        position: absolute;
        width: 100%;
        bottom: 0;
        text-align: center;
    }

}
