.q-home__features
    h2 Benefits for Publishers
    
    .q-home__features__feature
        img(src="/img/publishers/laptop.png", width="80", alt="")
        h3 Digitize your content with our existing technology platform
        
    .q-home__features__feature
        img(src="/img/publishers/rise.png", width="80", alt="")
        h3 Make your content even more engaging with gamified learning

    .q-home__features__feature
        img(src="/img/publishers/dollar.png", width="80", alt="")
        h3 No investment required and a potential new revenue stream
        
