.q-home__benefits
    h2 Benefits for Publishers
    
    ol
        li 
            strong Enhance your products:   
            span Make your content more compelling by adding classroom quiz games
        li 
            strong  Get more customers:  
            span Expose your brand and products to the thousands of teachers using Quizalize
        li 
            strong Make money:  
            span Deliver a new revenue stream through selling content
