.q-home__partners
    h1 Our current publishing partners
    ul
        li 
            img(src="/img/publishers/oup.png", width="200", alt="")
        li 
            img(src="/img/publishers/discovery.jpg",  width="188", alt="")
    
