.q-home__benefits
    h1 Enhance your products
    
    p Whatever your product, whether it’s a traditional print textbook or a modern mobile application, Quizalize helps make your product and content more compelling by adding a highly engaging new feature, classroom quiz games.
    ul
        li 
            strong Print or digital text books:  
            span Turn your end of chapter exercises into a an engaging classroom quiz game that can be played in class or set as homework.
            
        li 
            strong  Mobile or web apps: 
            span Already have a single education application?  Add your content to Quizalize and let teachers use it as an engaging classroom quiz game too.   
            
