@import './../../../../shared/scss/variables';
@import './../../../../shared/scss/mixins';

.cq-quizfilter {
    width: 100%;
    @include clearfix();

    @at-root #{&}__context {
        padding: 40px 20px;
        font-size: 26px;
        color: $brand-color-grey;
    }
    @at-root #{&}__search {
        float: right;
    }
    .react-textselect {
        border-bottom: 1px solid rgba(0, 0, 0, .33);
        overflow: hidden;
        background: $brand-color-grey-lighter;
        color: $brand-color-grey-dark;
        padding: 5px;
        margin: 5px;
        /* padding-right: 1em;
        margin-right: .17em; */
        cursor: pointer;
        position: relative;


        &-input {
            position: absolute;
            cursor: pointer;
            top: 10px;
            left: 0;
            right: 0;
            width: 100%;
            opacity: 0;
            z-index: 1;
        }
    }
}
