.q-home__whatis
    h2 What is Quizalize?
    
    p Quizalize is a powerful new classroom quiz game that helps teachers engage their students and get a rich insight into their strengths and weaknesses. We already have over 1500 schools in more than 60 countries using Quizalize on a regular basis. We’re looking to add another million teachers to our user base by the end of 2016.
 
    p We have quizzes on every topic from algebra to zoology, or teachers can create a quiz on any topic they like. However, we’ve found that many teachers are looking for quizzes that fit with textbooks and syllabuses they are already using. Therefore, we’d like to invite publishers to join in and make their content available on Quizalize.
    
