.q-home__features
    h2 Benefits for Publishers
    
    .q-home__features__feature
        img(src="/img/publishers/laptop.png", width="80", alt="")
        h3 Enhance your products: 
        p Make your content more compelling by adding classroom quiz games
        
    .q-home__features__feature
        img(src="/img/publishers/rise.png", width="80", alt="")
        h3 Get more customers:  
        p Expose your brand and products to the thousands of teachers using Quizalize

    .q-home__features__feature
        img(src="/img/publishers/dollar.png", width="80", alt="")
        h3 Make money:
        p Deliver a new revenue stream through selling content
        
