.q-home__features
    h2 Benefits for Publishers
    
    .q-home__features__feature
        img(src="/img/publishers/laptop.png", width="80", alt="")
        h3 Reach thousands of schools and teachers actively looking for content
        
    .q-home__features__feature
        img(src="/img/publishers/rise.png", width="80", alt="")
        h3 Build your brand on a robust and scalable technology platform

    .q-home__features__feature
        img(src="/img/publishers/dollar.png", width="80", alt="")
        h3 Add a new revenue stream at zero cost
