.q-home__zzish
    a(href="http://www.zzish.com/learning-hub/", target="_blank")
        .q-home__zzish__bubble
            h2.q-home__zzish__bubble__title We use Zzish!
            h2.q-home__zzish__bubble__subtitle Classroom technology for everyone
