
.ql-score {
    max-width: 768px;
    margin: 0 auto;
    margin-top: 20px;
    height: 60px;
    color: #FFF;
    .score,
    .questions {
        width: 50%;
    }
    .score { 
        float: left; 
    }
    .questions {
        float: right;
        text-align: right;
    }
}
