$brand-color-red: #ed3041;

/* $brand-color-blue: #2a7ed0; */

$brand-color-blue: #2e60ff;

$brand-color-black: #111111;
$brand-color-grey-dark:    lighten($brand-color-black, 20%);
$brand-color-grey:         lighten($brand-color-black, 40%);
$brand-color-grey-light:   lighten($brand-color-black, 60%);

//https://color.adobe.com/Birdfolio-Blues-color-theme-1945976/
$brand-color-alt-1: #2B3A42;
$brand-color-alt-2: #3F5765;
$brand-color-alt-3: #BDD4DE;
$brand-color-alt-4: #EFEFEF;
$brand-color-alt-5: #FF530D;
