$brand-color-red: #ed3041;
$brand-color-blue: #2e60ff;

//https://color.adobe.com/Birdfolio-Blues-color-theme-1945976/
$brand-color-alt-1: #2B3A42;
$brand-color-alt-2: #3F5765;
$brand-color-alt-3: #BDD4DE;
$brand-color-alt-4: #EFEFEF;
$brand-color-alt-5: #FF530D;
